{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}
{% block content_title %}<h1>KNMT Physical and Financial Progress Report</h1>{% endblock %}
{% block extrastyle %}
  {{ block.super }}
  {% load  static %}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
    {% block object-tools %}
<ul class="object-tools">
  {% block object-tools-items %}
    <li><input type="button" id="btnExport2" value="Export as Excel" onclick="ExportToExcel('xlsx')"/></li>
    <li><input type="button" id="btnExport" value="Export As Pdf" onclick="createPDF()"/></li>
  {% endblock %}
</ul>
{% endblock %}
  <style>
      .object-tools a.addlink{
          display: none;
      }
      .border-grey {
          border: 1px solid #babebe;
      }
  </style>
{% endblock %}

{% block result_list %}
  <div class="results" id="results">

    <table class="border-grey">
        <caption  class="report-h4" id="heading">
            KNMT - Physical And Financial Report - Overall (2021-22)
        </caption>
      <col>
        <colgroup span="2"></colgroup>
        <colgroup span="2"></colgroup>
        <tr class="border-grey">
          <th class="border-grey" style="text-align:right;" >S.No</th>
          <th class="border-grey"> Name of the Sector</th>
          <th class="border-grey" style="text-align:center;" colspan="5">Financial Progress (Rs.in Cr)</th>
          <th class="border-grey" style="text-align:center;" colspan="5">Physical Progress</th>
        </tr>
      <tr class="border-grey">
        <th class="border-grey">(C1)</th>
        <th class="border-grey">(C2)</th>
        <th class="border-grey" style="text-align:center;" colspan="3" scope="colgroup">Amount Sanctioned<br><br>(C3)</th>
        <th class="border-grey" style="text-align:center;" scope="col">Work Order<br>Amount<br>(With Tax.)<br>(C4)</th>
        <th class="border-grey" style="text-align:center;" scope="col">Amount Spend<br>(Value of<br>Work Done)<br>(C5)</th>
        <th class="border-grey" style="text-align:right;" scope="col">No. of <br>works<br>approved<br><br>(C6)</th>
        <th class="border-grey" style="text-align:right;" scope="col">No. of <br>works<br>taken<br><br>(C7)=(C8)+(C9)</th>
        <th class="border-grey" style="text-align:right;" scope="col">No. of <br>works<br>completed<br><br>(C8)</th>
        <th class="border-grey" style="text-align:right;" scope="col">No. of <br>works<br>in progress<br><br>(C9)</th>
        <th class="border-grey" style="text-align:right;" scope="col">No. of <br>works<br>to be<br>Commenced<br>(C10)</th>
      </tr>
      <tr class="border-grey">
        <th class="border-grey"></th>
        <th class="border-grey"></th>
        <th class="border-grey" style="text-align:right;" scope="col">KNMT Share</th>
        <th class="border-grey" style="text-align:right;" scope="col">ULB Share</th>
        <th class="border-grey" style="text-align:right;" scope="col">Total</th>
        <th class="border-grey"></th>
        <th class="border-grey"></th>
        <th class="border-grey"></th>
        <th class="border-grey"></th>
        <th class="border-grey"></th>
        <th class="border-grey"></th>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">1</td>
        <td class="border-grey" >BT Road</td>
        <td class="border-grey" style="text-align:right;"> &#8377 {{ BT_Road_SchemeShare.BT_Road_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;"> &#8377 {{ BT_Road_ULBShare.BT_Road_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;"> &#8377 {{ BT_Road_Total }}</td>
        <td class="border-grey" style="text-align:right;"> &#8377 {{ BT_Road_workorder.sum }}</td>
          <td class="border-grey" style="text-align:right;"> &#8377 {{ BT_Road_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;"> {{ BT_Road_Approved }}</td>
        <td class="border-grey" style="text-align:right;"> {{ BT_Road_Taken }}</td>
        <td class="border-grey" style="text-align:right;"> {{ BT_Road_Completed }}</td>
        <td class="border-grey" style="text-align:right;"> {{ BT_Road_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ BT_Road_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">2</td>
        <td class="border-grey" >Bus Stand</td>
        <td class="border-grey" style="text-align:right;"> &#8377 {{ Bus_Stand_SchemeShare.Bus_Stand_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Bus_Stand_ULBShare.Bus_Stand_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Bus_Stand_Total }}</td>
              <td class="border-grey" style="text-align:right;">&#8377 {{ Bus_Stand_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Bus_Stand_amountspend.sum }}</td>

        <td class="border-grey" style="text-align:right;">{{ Bus_Stand_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Bus_Stand_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Bus_Stand_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ Bus_Stand_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Bus_Stand_TobeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">3</td>
        <td class="border-grey" >CC Road</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ CC_Road_SchemeShare.CC_Road_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ CC_Road_ULBShare.CC_Road_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ CC_Road_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ CC_Road_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ CC_Road_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ CC_Road_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ CC_Road_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ CC_Road_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ CC_Road_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ CC_Road_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">4</td>
        <td class="border-grey" >Community Hall</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Community_Hall_SchemeShare.Community_Hall_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Community_Hall_ULBShare.Community_Hall_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Community_Hall_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Community_Hall_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Community_Hall_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ Community_Hall_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Community_Hall_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Community_Hall_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ Community_Hall_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Community_Hall_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">5</td>
        <td class="border-grey" >Crematorium</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Crematorium_SchemeShare.Crematorium_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Crematorium_ULBShare.Crematorium_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Crematorium_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Crematorium_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Crematorium_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ Crematorium_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Crematorium_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Crematorium_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ Crematorium_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Crematorium_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">6</td>
        <td class="border-grey" >Culvert</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Culvert_SchemeShare.Culvert_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Culvert_ULBShare.Culvert_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Culvert_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Culvert_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Culvert_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ Culvert_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Culvert_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Culvert_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ Culvert_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Culvert_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">7</td>
        <td class="border-grey" >Knowledge Centre</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Knowledge_Centre_SchemeShare.Knowledge_Centre_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Knowledge_Centre_ULBShare.Knowledge_Centre_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Knowledge_Centre_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Knowledge_centre_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Knowledge_centre_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ Knowledge_Centre_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Knowledge_Centre_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Knowledge_Centre_Completed }}</td>
        <td class="border-grey" style="text-align:right;" >{{ Knowledge_Centre_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Knowledge_Centre_ToBeCommenced }}</td>
      </tr>
        <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">8</td>
        <td class="border-grey" >Market</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Market_SchemeShare.Market_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Market_ULBShare.Market_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Market_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Market_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Market_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ Market_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Market_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Market_Completed }}</td>
        <td class="border-grey" style="text-align:right;" >{{ Market_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Market_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">9</td>
        <td class="border-grey" >Metal Beam Crash Barrier</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ M_B_C_B_SchemeShare.M_B_C_B_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ M_B_C_B_ULBShare.M_B_C_B_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ M_B_C_B_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ MBCB_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ MBCB_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ M_B_C_B_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ M_B_C_B_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ M_B_C_B_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ M_B_C_B_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ MBCB_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">10</td>
        <td class="border-grey" >Parks</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Parks_SchemeShare.Parks_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Parks_ULBShare.Parks_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Parks_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Parks_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Parks_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ Parks_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Parks_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Parks_Completed }}</td>
        <td class="border-grey" style="text-align:right;" >{{ Parks_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Parks_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey"style="text-align:right;" >11</td>
        <td class="border-grey" >Paver Block</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Paver_Block_SchemeShare.Paver_Block_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Paver_Block_ULBShare.Paver_Block_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Paver_Block_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Paver_Block_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Paver_Block_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ Paver_Block_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Paver_Block_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Paver_Block_Completed }}</td>
        <td class="border-grey" style="text-align:right;" >{{ Paver_Block_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Paver_Block_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">12</td>
        <td class="border-grey" >Retaining Wall</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Retaining_wall_SchemeShare.Retaining_wall_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Retaining_wall_ULBShare.Retaining_wall_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Retaining_wall_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Retaining_wall_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Retaining_wall_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ Retaining_wall_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Retaining_wall_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Retaining_wall_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ Retaining_wall_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Retaining_wall_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">13</td>
        <td class="border-grey" >Solid Waste Mgt.</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWM_SchemeShare.SWM_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWM_ULBShare.SWM_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWM_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWM_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWM_amountspend.sum  }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWM_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWM_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWM_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWM_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWM_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">14</td>
        <td class="border-grey" >SWD</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWD_SchemeShare.SWD_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWD_ULBShare.SWD_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWD_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWD_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SWD_amountspend.sum  }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWD_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWD_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWD_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWD_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ SWD_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey {% cycle 'row1' 'row2'%}">
        <td class="border-grey" style="text-align:right;">15</td>
        <td class="border-grey" >Water Bodies</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Water_Bodies_SchemeShare.Water_Bodies_SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Water_Bodies_ULBShare.Water_Bodies_ULBShare }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Water_Bodies_Total }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Water_Bodies_workorder.sum }}</td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ Water_Bodies_amountspend.sum }}</td>
        <td class="border-grey" style="text-align:right;">{{ Water_Bodies_Approved }}</td>
        <td class="border-grey" style="text-align:right;">{{ Water_Bodies_Taken }}</td>
        <td class="border-grey" style="text-align:right;">{{ Water_Bodies_Completed }}</td>
        <td class="border-grey" style="text-align:right;">{{ Water_Bodies_inprogress }}</td>
        <td class="border-grey" style="text-align:right;">{{ Water_Bodies_ToBeCommenced }}</td>
      </tr>
      <tr class="border-grey" style="font-weight:bold; border-top:2px solid #DDDDDD;">
        <td class="border-grey" ></td>
        <td class="border-grey" style="text-align:right;">Total </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ SchemeShare.SchemeShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377  {{ ULBShare.ULBShare }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ ProjectCost.ProjectCost }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ workorder_total.sum }} </td>
        <td class="border-grey" style="text-align:right;">&#8377 {{ work_amountspend.sum }} </td>
        <td class="border-grey" style="text-align:right;"> {{ work_approved_total }} </td>
        <td class="border-grey" style="text-align:right;"> {{ works_taken_total }} </td>
        <td class="border-grey" style="text-align:right;"> {{ works_completed_total }} </td>
        <td class="border-grey" style="text-align:right;"> {{ works_inprogress_total}} </td>
        <td class="border-grey" style="text-align:right;"> {{ works_ToBeCommenced }} </td>
      </tr>
    </table>
  </div>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
    <script type="text/javascript">
        function createPDF() {
        var sTable = document.getElementById('results').innerHTML;

        var style = "<style>";
        style = style + ".report-h4 {text-align:center; text-transform: uppercase; display:none;}";
        style = style + "title {text-align:center; text-transform: uppercase; font-weight:bold; font-size:large;}";
        style = style + "table {width: 100%;font: 14px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + ".text a{text-decoration: none; color:black}"
        style = style + "</style>";

        var win = window.open('', '', 'height=700,width=700');
        win.document.write('<html><head>');
        win.document.write(style);
        win.document.write('<title>'+$(".report-h4").html().toUpperCase()+'</title>');
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);
        win.document.write('</body></html>');
        win.document.close();
        win.print();
    }
    </script>
     <script>
        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('results');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('GOReport.' + (type || 'xlsx')));
        }
    </script>
{% endblock %}

{% block pagination %}{% endblock  %}