{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
<script src="{% static 'vendors/jquery-3.4.1/jquery-3.4.1.slim.js' %}"></script>
<script type="text/javascript" src="{% static 'js/choicefilter.js' %}"></script>
<script type="text/javascript">
    window.onload = function() {
        var Scheme = document.getElementById("id_Scheme");
        var ULBType = document.getElementById("id_AgencyType");
  		var AgencyName = document.getElementById("id_AgencyName");
  		var Sector = document.getElementById("id_Sector");
        var Project_ID = document.getElementById("id_Project_ID");

        Scheme.filtchoices(ULBType,{
            data:{
                "1":["1","2"],
                "2":["3"]
            }
        });

        ULBType.filtchoices(AgencyName, {
            data: {
                "1":[{% for i in municipality %}"{{ i }}",{% endfor %}],
                "2":[{% for i in townPanchayat %}"{{ i }}",{% endfor %}],
                "3":[{% for i in corporation %}"{{ i }}",{% endfor %}],
            }
        });

        AgencyName.filtchoices(Sector,{
  			data:{
  				"2":[{% for i in abiramam_sector %}"{{ i }}",{% endfor %}],
                "3":[{% for i in achanpudur_sector %}"{{ i }}",{% endfor %}],
                "1568": [{% for i in Acharapakkam_sector %}"{{ i }}",{% endfor %}],
                "1569": [{% for i in Adigaratty_sector %}"{{ i }}",{% endfor %}],
                "2221": [{% for i in Adirampattinam_sector %}"{{ i }}",{% endfor %}],
                "1570": [{% for i in Aduthurai_sector %}"{{ i }}",{% endfor %}],
                "1571": [{% for i in Agaram_sector %}"{{ i }}",{% endfor %}],
                "1572": [{% for i in Agasteeswaram_sector %}"{{ i }}",{% endfor %}],
                "1573":[{% for i in Alagappapuram_sector %}"{{ i }}",{% endfor %}],
                "1574":[{% for i in Alampalayam_sector %}"{{ i }}",{% endfor %}],
                "2204": [{% for i in Alandurai_sector %}"{{ i }}",{% endfor %}],
                "1575": [{% for i in Alanganallur_sector %}"{{ i }}",{% endfor %}],
                "1576": [{% for i in Alangayam_sector %}"{{ i }}",{% endfor %}],
                "1577": [{% for i in Alangudi_sector %}"{{ i }}",{% endfor %}],
                "1578": [{% for i in Alangulam_sector %}"{{ i }}",{% endfor %}],
                "1579": [{% for i in Aloor_sector %}"{{ i }}",{% endfor %}],
                "1580": [{% for i in Alwarkurichi_sector %}"{{ i }}",{% endfor %}],
                "1581": [{% for i in Alwarthirunagari_sector %}"{{ i }}",{% endfor %}],
                "2118":[{% for i in Ambasamudram_sector %}"{{ i }}",{% endfor %}],
                "1582":[{% for i in Ambur_sector %}"{{ i }}",{% endfor %}],
                "1583": [{% for i in Ammapettai_sector %}"{{ i }}",{% endfor %}],
                "1584": [{% for i in Ammayanaickanur_sector %}"{{ i }}",{% endfor %}],
                "1585": [{% for i in Ammoor_sector %}"{{ i }}",{% endfor %}],
                "1586": [{% for i in Anaimalai_sector %}"{{ i }}",{% endfor %}],
                "2065": [{% for i in Anakaputhur_sector %}"{{ i }}",{% endfor %}],
                "1587": [{% for i in Ananthapuram_sector %}"{{ i }}",{% endfor %}],
                
                "1588": [{% for i in Andipatti_sector %}"{{ i }}",{% endfor %}],
                "1579": [{% for i in Anjugramam_sector %}"{{ i }}",{% endfor %}],
                "1580": [{% for i in Annavasal_sector %}"{{ i }}",{% endfor %}],
                "1581": [{% for i in Annur_sector %}"{{ i }}",{% endfor %}],
                "2118":[{% for i in Anthiyur_sector %}"{{ i }}",{% endfor %}],
                "1593":[{% for i in Appakudal_sector %}"{{ i }}",{% endfor %}],
                "1594": [{% for i in Arachalur_sector %}"{{ i }}",{% endfor %}],
                "1595": [{% for i in Arakandanallur_sector %}"{{ i }}",{% endfor %}],
                "2145": [{% for i in Arakkonam_sector %}"{{ i }}",{% endfor %}],
                "1596": [{% for i in Aralvaimozhi_sector %}"{{ i }}",{% endfor %}],
                "1598": [{% for i in Arani_sector %}"{{ i }}",{% endfor %}],
                "2154": [{% for i in Aranthangi_sector %}"{{ i }}",{% endfor %}],

                "1599": [{% for i in Aravakurichi_sector %}"{{ i }}",{% endfor %}],
                "2122": [{% for i in Arcot_sector %}"{{ i }}",{% endfor %}],
                "1600": [{% for i in Arimalam_sector %}"{{ i }}",{% endfor %}],
                "2063": [{% for i in Ariyalur_sector%}"{{ i }}",{% endfor %}],
                "1601":[{% for i in Ariyappampalayam_sector %}"{{ i }}",{% endfor %}],
                "1602":[{% for i in Arumanai_sector %}"{{ i }}",{% endfor %}],
                "1603": [{% for i in Arumbavur_sector%}"{{ i }}",{% endfor %}],
                "1604": [{% for i in Arumuganeri_sector %}"{{ i }}",{% endfor %}],
                "2152": [{% for i in Aruppukottai_sector %}"{{ i }}",{% endfor %}],
                "1605": [{% for i in Athani_sector %}"{{ i }}",{% endfor %}],
                "1606": [{% for i in Athanur_sector %}"{{ i }}",{% endfor %}],
                "1607": [{% for i in Athur_sector %}"{{ i }}",{% endfor %}],

                "1608": [{% for i in Attayampatty_sector %}"{{ i }}",{% endfor %}],
                "1609": [{% for i in Attoor_sector %}"{{ i }}",{% endfor %}],
                "2123": [{% for i in Attur_sector %}"{{ i }}",{% endfor %}],
                "1610": [{% for i in Aundipatti_sector %}"{{ i }}",{% endfor %}],
                "2246":[{% for i in Auralvaimozhi_sector %}"{{ i }}",{% endfor %}],
                "1611":[{% for i in Authoor_sector %}"{{ i }}",{% endfor %}],
                "1612": [{% for i in A_Vallalapatti %}"{{ i }}",{% endfor %}],
                "1613": [{% for i in Avalpoondurai %}"{{ i }}",{% endfor %}],
                "1614": [{% for i in Avinashi %}"{{ i }}",{% endfor %}],
                "2180": [{% for i in Ayakudi %}"{{ i }}",{% endfor %}],
                "1616": [{% for i in Ayikudy %}"{{ i }}",{% endfor %}],
                "1617": [{% for i in Ayothiyapattanam %}"{{ i }}",{% endfor %}],
                "1618": [{% for i in Ayyalur %}"{{ i }}",{% endfor %}],
                "1619": [{% for i in Ayyampalayam %}"{{ i }}",{% endfor %}],
                "1620": [{% for i in Ayyampettai %}"{{ i }}",{% endfor %}],
                "1621": [{% for i in Ayyothiyapattanam %}"{{ i }}",{% endfor %}],
                "1622": [{% for i in Azhagappapuram %}"{{ i }}",{% endfor %}],
                "1624": [{% for i in Azhakiapandiyapuram %}"{{ i }}",{% endfor %}],

                "1625": [{% for i in Balakrishnampatti %}"{{ i }}",{% endfor %}],
                "2229": [{% for i in Balasamudram %}"{{ i }}",{% endfor %}],
                "1626": [{% for i in Bargur %}"{{ i }}",{% endfor %}],
                "2230": [{% for i in Batlagundu  %}"{{ i }}",{% endfor %}],
                "1627": [{% for i in Belur %}"{{ i }}",{% endfor %}],
                "2081": [{% for i in Bhavani %}"{{ i }}",{% endfor %}],
                "1628": [{% for i in Bhavanisagar %}"{{ i }}",{% endfor %}],
                "1630": [{% for i in Bhuvanagiri %}"{{ i }}",{% endfor %}],
                "1631": [{% for i in Bikkatti %}"{{ i }}",{% endfor %}],
                "2149": [{% for i in Bodinayakanur %}"{{ i }}",{% endfor %}],
                "1632": [{% for i in Boothapandy %}"{{ i }}",{% endfor %}],
                "1633": [{% for i in Boothipuram %}"{{ i }}",{% endfor %}],

                "2066": [{% for i in Chengalpattu %}"{{ i }}",{% endfor %}],
                "1634": [{% for i in Chengam %}"{{ i }}",{% endfor %}],
                "1635": [{% for i in Chennasamudram %}"{{ i }}",{% endfor %}],
                "1636": [{% for i in Chennimalai  %}"{{ i }}",{% endfor %}],
                "1637": [{% for i in Cheranmahadevi %}"{{ i }}",{% endfor %}],
                "1638": [{% for i in Chetpet %}"{{ i }}",{% endfor %}],
                "1639": [{% for i in Chettipalayam %}"{{ i }}",{% endfor %}],
                "1640": [{% for i in Chettiyarpatti %}"{{ i }}",{% endfor %}],
                "2128": [{% for i in Chidambaram %}"{{ i }}",{% endfor %}],
                "1641": [{% for i in Chinnalapatti %}"{{ i }}",{% endfor %}],
                "2150": [{% for i in Chinnamanur %}"{{ i }}",{% endfor %}],
                "1642": [{% for i in Chithode %}"{{ i }}",{% endfor %}],
                "1643": [{% for i in Coimbatore %}"{{ i }}",{% endfor %}],
                "2087": [{% for i in Colachel %}"{{ i }}",{% endfor %}],
                "2254": [{% for i in Coonoor %}"{{ i }}",{% endfor %}],
                "1644": [{% for i in Courtallam %}"{{ i }}",{% endfor %}],
                "1645": [{% for i in C_Pudupatti %}"{{ i }}",{% endfor %}],
                "2073": [{% for i in Cuddalore %}"{{ i }}",{% endfor %}],
                "2151": [{% for i in Cumbum %}"{{ i }}",{% endfor %}],
                
                "1647": [{% for i in Denkanikottai %}"{{ i }}",{% endfor %}],
                "1648": [{% for i in Desur %}"{{ i }}",{% endfor %}],
                "2120": [{% for i in Devakottai %}"{{ i }}",{% endfor %}],
                "2254": [{% for i in Devarshola %}"{{ i }}",{% endfor %}],
                "1649": [{% for i in Devathanapatti %}"{{ i }}",{% endfor %}],
                "1650": [{% for i in Devershola %}"{{ i }}",{% endfor %}],
                "1651": [{% for i in Dhaliyur %}"{{ i }}",{% endfor %}],
                "2141": [{% for i in Dharapuram %}"{{ i }}",{% endfor %}],
                "2077": [{% for i in Dharmapuri %}"{{ i }}",{% endfor %}],
                "2217": [{% for i in Dindigul %}"{{ i }}",{% endfor %}],
                
                "1652": [{% for i in Edaicode %}"{{ i }}",{% endfor %}],
                "1653": [{% for i in Edaikazhinadu %}"{{ i }}",{% endfor %}],
                "1654": [{% for i in Elampillai %}"{{ i }}",{% endfor %}],
                "1655": [{% for i in Elathur %}"{{ i }}",{% endfor %}],
                "1656": [{% for i in Elumalai %}"{{ i }}",{% endfor %}],
                "1657": [{% for i in Eral %}"{{ i }}",{% endfor %}],
                "1658": [{% for i in Eraniel %}"{{ i }}",{% endfor %}],
                "1659": [{% for i in Eriodu %}"{{ i }}",{% endfor %}],
                "2211": [{% for i in Erode %}"{{ i }}",{% endfor %}],
                "2196": [{% for i in Erumaipatti %}"{{ i }}",{% endfor %}],
                "1660": [{% for i in Erumapatty %}"{{ i }}",{% endfor %}],
                "1661": [{% for i in Eruvadi %}"{{ i }}",{% endfor %}],
                "1662": [{% for i in Ettayapuram %}"{{ i }}",{% endfor %}],
                "1663": [{% for i in Ettimadai %}"{{ i }}",{% endfor %}],

                "1664": [{% for i in Ganapathipuram %}"{{ i }}",{% endfor %}],
                "1665": [{% for i in Gangavalli %}"{{ i }}",{% endfor %}],
                "1667": [{% for i in Genguvarpatti %}"{{ i }}",{% endfor %}],
                "1668": [{% for i in Gingee %}"{{ i }}",{% endfor %}],
                "2253": [{% for i in Gobichettipalayam %}"{{ i }}",{% endfor %}],
                "1669": [{% for i in Gopalasamudram %}"{{ i }}",{% endfor %}],
                "2181": [{% for i in Greater_Chennai %}"{{ i }}",{% endfor %}],
                "2205": [{% for i in Gudalur %}"{{ i }}",{% endfor %}],
                "2255": [{% for i in Gudalur_N %}"{{ i }}",{% endfor %}],
                "2138": [{% for i in Gudiyatham %}"{{ i }}",{% endfor %}],
                "1671": [{% for i in Gummidipoondi %}"{{ i }}",{% endfor %}],

                "1672": [{% for i in Hanumanthampatti %}"{{ i }}",{% endfor %}],
                "1673": [{% for i in Harur %}"{{ i }}",{% endfor %}],
                "1674": [{% for i in Hulical %}"{{ i }}",{% endfor %}],
                "2121": [{% for i in Idappadi %}"{{ i }}",{% endfor %}],
                "1675": [{% for i in Idigarai %}"{{ i }}",{% endfor %}],
                "1676": [{% for i in Ilanji %}"{{ i }}",{% endfor %}],
                "1677": [{% for i in Ilayankudi %}"{{ i }}",{% endfor %}],
                "1678": [{% for i in Illuppur %}"{{ i }}",{% endfor %}],
                "1680": [{% for i in Irugur %}"{{ i }}",{% endfor %}],
                "1681": [{% for i in Jalagandapuram %}"{{ i }}",{% endfor %}],
                "2191": [{% for i in Jalakandapuram %}"{{ i }}",{% endfor %}],
                "1682": [{% for i in Jambai %}"{{ i }}",{% endfor %}],
                "2064": [{% for i in Jayankondam %}"{{ i }}",{% endfor %}],
                "1683": [{% for i in Jegathala %}"{{ i }}",{% endfor %}],
                "2162": [{% for i in Jolarpet %}"{{ i }}",{% endfor %}],

                "1684": [{% for i in Kadambur %}"{{ i }}",{% endfor %}],
                "1685": [{% for i in Kadathur %}"{{ i }}",{% endfor %}],
                "1686": [{% for i in Kadayal %}"{{ i }}",{% endfor %}],
                "1687": [{% for i in Kadayampatty %}"{{ i }}",{% endfor %}],
                "2132": [{% for i in Kadayanalluri %}"{{ i }}",{% endfor %}],
                "2237": [{% for i in Kalakkad %}"{{ i }}",{% endfor %}],
                "1688": [{% for i in Kalambur %}"{{ i }}",{% endfor %}],
                "1689": [{% for i in Kalappanacikenpatty %}"{{ i }}",{% endfor %}],
                "2188": [{% for i in Kalavai %}"{{ i }}",{% endfor %}],
                "1690": [{% for i in Kaliyakkavilai %}"{{ i }}",{% endfor %}],
                "1691": [{% for i in Kallakudi %}"{{ i }}",{% endfor %}],
                "2085": [{% for i in Kallakurichi %}"{{ i }}",{% endfor %}],
                "1692": [{% for i in Kallidaikurichi %}"{{ i }}",{% endfor %}],
                "1695": [{% for i in Kallukuttam  %}"{{ i }}",{% endfor %}],
                "1696": [{% for i in Kalugumalai %}"{{ i }}",{% endfor %}],
                
                "1697": [{% for i in Kamayagoundanpatti %}"{{ i }}",{% endfor %}],
                "1698": [{% for i in Kambainallur %}"{{ i }}",{% endfor %}],
                "1699": [{% for i in Kamuthi  %}"{{ i }}",{% endfor %}],
                "1700": [{% for i in Kanadukathan %}"{{ i }}",{% endfor %}],
                "1701": [{% for i in Kanam %}"{{ i }}",{% endfor %}],
                "2169": [{% for i in Kancheepuram %}"{{ i }}",{% endfor %}],
                "1702": [{% for i in Kandanur%}"{{ i }}",{% endfor %}],
                "2173": [{% for i in Kangeyam %}"{{ i }}",{% endfor %}],
                "1703": [{% for i in Kanjikoil %}"{{ i }}",{% endfor %}],
                "1704": [{% for i in Kannamangalam %}"{{ i }}",{% endfor %}],
                "1705": [{% for i in Kannampalayam %}"{{ i }}",{% endfor %}],
                "1706": [{% for i in Kannankurichi %}"{{ i }}",{% endfor %}],
                "1707": [{% for i in Kannivadi %}"{{ i }}",{% endfor %}],
                "1708": [{% for i in Kanniyakumari %}"{{ i }}",{% endfor %}],
                "1709": [{% for i in Kappiyarai %}"{{ i }}",{% endfor %}],

                "2164": [{% for i in Karaikudi %}"{{ i }}",{% endfor %}],
                "2227": [{% for i in Karambakkudi %}"{{ i }}",{% endfor %}],
                "1711": [{% for i in Karambakudi %}"{{ i }}",{% endfor %}],
                "1712": [{% for i in Karimangalam %}"{{ i }}",{% endfor %}],
                "1713": [{% for i in Kariyapatti %}"{{ i }}",{% endfor %}],
                "1714": [{% for i in Karumandichellipalayam %}"{{ i }}",{% endfor %}],
                "2206": [{% for i in Karumathampatti  %}"{{ i }}",{% endfor %}],
                "1715": [{% for i in Karungal %}"{{ i }}",{% endfor %}],
                "1716": [{% for i in Karunguzhi %}"{{ i }}",{% endfor %}],
                "1717": [{% for i in Karuppur %}"{{ i }}",{% endfor %}],
                "2192": [{% for i in Karupur %}"{{ i }}",{% endfor %}],
                "2090": [{% for i in Karur %}"{{ i }}",{% endfor %}],
                "1718": [{% for i in Kasipalayam_G %}"{{ i }}",{% endfor %}],
                "1719": [{% for i in Kattumannarkoil %}"{{ i }}",{% endfor %}],
                "1721": [{% for i in Kattuputhur %}"{{ i }}",{% endfor %}],
                
                "2164": [{% for i in Karaikudi %}"{{ i }}",{% endfor %}],
                "2227": [{% for i in Karambakkudi %}"{{ i }}",{% endfor %}],
                "1711": [{% for i in Karambakudi %}"{{ i }}",{% endfor %}],
                "1712": [{% for i in Karimangalam %}"{{ i }}",{% endfor %}],
                "1713": [{% for i in Kariyapatti %}"{{ i }}",{% endfor %}],
                "1714": [{% for i in Karumandichellipalayam %}"{{ i }}",{% endfor %}],
                "2206": [{% for i in Karumathampatti  %}"{{ i }}",{% endfor %}],
                "1715": [{% for i in Karungal %}"{{ i }}",{% endfor %}],
                "1716": [{% for i in Karunguzhi %}"{{ i }}",{% endfor %}],
                "1717": [{% for i in Karuppur %}"{{ i }}",{% endfor %}],
                "2192": [{% for i in Karupur %}"{{ i }}",{% endfor %}],
                "2090": [{% for i in Karur %}"{{ i }}",{% endfor %}],
                "1718": [{% for i in Kasipalayam_G %}"{{ i }}",{% endfor %}],
                "1719": [{% for i in Kattumannarkoil %}"{{ i }}",{% endfor %}],
                "1721": [{% for i in Kattuputhur %}"{{ i }}",{% endfor %}],

                "1722": [{% for i in Kaveripattinam %}"{{ i }}",{% endfor %}],
                "2259": [{% for i in Kayalpattinam %}"{{ i }}",{% endfor %}],
                "1723": [{% for i in Kayathar %}"{{ i }}",{% endfor %}],
                "2163": [{% for i in Keelakarai %}"{{ i }}",{% endfor %}],
                "1724": [{% for i in Keelapavoor %}"{{ i }}",{% endfor %}],
                "1730": [{% for i in Keelvelur %}"{{ i }}",{% endfor %}],
                "1726": [{% for i in Keeramangalam  %}"{{ i }}",{% endfor %}],
                "2228": [{% for i in Keeramangkalam %}"{{ i }}",{% endfor %}],
                "1727": [{% for i in Keeranur %}"{{ i }}",{% endfor %}],
                "1728": [{% for i in Keeripatty %}"{{ i }}",{% endfor %}],
                "1729": [{% for i in Keezhkulam %}"{{ i }}",{% endfor %}],
                "1731": [{% for i in Kelamangalam %}"{{ i }}",{% endfor %}],
                "1733": [{% for i in Kempanaickenpalayam %}"{{ i }}",{% endfor %}],
                "1734": [{% for i in Ketti %}"{{ i }}",{% endfor %}],
                "1735": [{% for i in Kilambadi %}"{{ i }}",{% endfor %}],
                
                "1736": [{% for i in Kilkundah %}"{{ i }}",{% endfor %}],
                "1737": [{% for i in Killai %}"{{ i }}",{% endfor %}],
                "1738": [{% for i in Killiyoor %}"{{ i }}",{% endfor %}],
                "1739": [{% for i in Kilpennathur %}"{{ i }}",{% endfor %}],
                "2207": [{% for i in Kinathukadavu %}"{{ i }}",{% endfor %}],
                "2078": [{% for i in Kodaikanal %}"{{ i }}",{% endfor %}],
                "1740": [{% for i in Kodavasal  %}"{{ i }}",{% endfor %}],
                "1741": [{% for i in Kodumudi %}"{{ i }}",{% endfor %}],
                "2199": [{% for i in Kolappalur %}"{{ i }}",{% endfor %}],
                "1742": [{% for i in Kolathupalayam %}"{{ i }}",{% endfor %}],
                "1743": [{% for i in Kolathur %}"{{ i }}",{% endfor %}],
                "1744": [{% for i in Kollankoil %}"{{ i }}",{% endfor %}],
                "2245": [{% for i in Kollemcode %}"{{ i }}",{% endfor %}],
                "2099": [{% for i in Komarapalayam %}"{{ i }}",{% endfor %}],
                "1745": [{% for i in Kombai %}"{{ i }}",{% endfor %}],

                "2190": [{% for i in Konganapuram %}"{{ i }}",{% endfor %}],
                "2161": [{% for i in Koothanallur %}"{{ i }}",{% endfor %}],
                "1747": [{% for i in Koothappar %}"{{ i }}",{% endfor %}],
                "1748": [{% for i in Koradachery %}"{{ i }}",{% endfor %}],
                "1749": [{% for i in Kotagiri %}"{{ i }}",{% endfor %}],
                "1750": [{% for i in Kothanalloor %}"{{ i }}",{% endfor %}],
                "1751": [{% for i in Kottaiyur  %}"{{ i }}",{% endfor %}],
                "1752": [{% for i in Kottaram %}"{{ i }}",{% endfor %}],
                "1753": [{% for i in Kottur %}"{{ i }}",{% endfor %}],
                "2269": [{% for i in Kovilpatti %}"{{ i }}",{% endfor %}],
                "2092": [{% for i in Krishnagiri %}"{{ i }}",{% endfor %}],
                "1754": [{% for i in Krishnarayapuram %}"{{ i }}",{% endfor %}],
                "2233": [{% for i in Kuchanur %}"{{ i }}",{% endfor %}],
                "1755": [{% for i in Kuhalur %}"{{ i }}",{% endfor %}],
                "1756": [{% for i in Kulasekaram %}"{{ i }}",{% endfor %}],

                "2091": [{% for i in Kulithalai %}"{{ i }}",{% endfor %}],
                "1757": [{% for i in Kumarapuram  %}"{{ i }}",{% endfor %}],
                "2137": [{% for i in Kumbakonam %}"{{ i }}",{% endfor %}],
                "1758": [{% for i in Kunnathur %}"{{ i }}",{% endfor %}],
                "1759": [{% for i in Kurinjipadi %}"{{ i }}",{% endfor %}],
                "1760": [{% for i in Kurumbalur %}"{{ i }}",{% endfor %}],
                "1761": [{% for i in Kutchanur %}"{{ i }}",{% endfor %}],
                "1762": [{% for i in Kuthalam %}"{{ i }}",{% endfor %}],
                "2088": [{% for i in Kuzhithurai %}"{{ i }}",{% endfor %}],

                "1763": [{% for i in Labbaikudikadu %}"{{ i }}",{% endfor %}],
                "2200": [{% for i in Lakkampatti %}"{{ i }}",{% endfor %}],
                "2225": [{% for i in Lalgudi %}"{{ i }}",{% endfor %}],
                "1764": [{% for i in Lalpettai %}"{{ i }}",{% endfor %}],
                
                "2067": [{% for i in Madhuranthagam %}"{{ i }}",{% endfor %}],
                "2208": [{% for i in Madukkarai %}"{{ i }}",{% endfor %}],
                "1765": [{% for i in Madukkur %}"{{ i }}",{% endfor %}],
                "1766": [{% for i in Mallanginar %}"{{ i }}",{% endfor %}],
                "1767":[{% for i in Mallasamudram %}"{{ i }}",{% endfor %}],
                "1768":[{% for i in Mallur %}"{{ i }}",{% endfor %}],
                "1769": [{% for i in Mamallapuram %}"{{ i }}",{% endfor %}],
                "1771": [{% for i in Mamsapuram %}"{{ i }}",{% endfor %}],
                "1772": [{% for i in Manalmedu %}"{{ i }}",{% endfor %}],
                "1773": [{% for i in Manalurpet %}"{{ i }}",{% endfor %}],
                "2235": [{% for i in Manamadurai %}"{{ i }}",{% endfor %}],
                "2265": [{% for i in Manaparai %}"{{ i }}",{% endfor %}],
                "2165": [{% for i in Manapparai %}"{{ i }}",{% endfor %}],
                "1774": [{% for i in Manavalakurichi %}"{{ i }}",{% endfor %}],
                "1775": [{% for i in Mandaikadu %}"{{ i }}",{% endfor %}],
                "1776": [{% for i in Mandapam %}"{{ i }}",{% endfor %}],
                "1777": [{% for i in Mangalampettai %}"{{ i }}",{% endfor %}],
                "1778": [{% for i in Manimuthar %}"{{ i }}",{% endfor %}],
                "1779": [{% for i in Mannachanallur %}"{{ i }}",{% endfor %}],
                "2160": [{% for i in Mannargudi %}"{{ i }}",{% endfor %}],
                "2068": [{% for i in Maraimalainagar %}"{{ i }}",{% endfor %}],
                "1781": [{% for i in Marakkanam %}"{{ i }}",{% endfor %}],
                "1782":[{% for i in Marandahalli %}"{{ i }}",{% endfor %}],
                "2261":[{% for i in Marimalainagar %}"{{ i }}",{% endfor %}],
                "1783": [{% for i in Markayankottai %}"{{ i }}",{% endfor %}],
                "2234": [{% for i in Markkayankottai %}"{{ i }}",{% endfor %}],
                "1784": [{% for i in Marudur %}"{{ i }}",{% endfor %}],
                "1785": [{% for i in Marungoor %}"{{ i }}",{% endfor %}],
                "2096": [{% for i in Mayiladuthurai %}"{{ i }}",{% endfor %}],
                "1786": [{% for i in Mecheri %}"{{ i }}",{% endfor %}],
                "1787": [{% for i in Melachokkanathapuram %}"{{ i }}",{% endfor %}],
                "1788": [{% for i in Melagaram %}"{{ i }}",{% endfor %}],
                "1789": [{% for i in Melaseval %}"{{ i }}",{% endfor %}],
                "1790": [{% for i in Melattur %}"{{ i }}",{% endfor %}],
                "2093": [{% for i in Melur %}"{{ i }}",{% endfor %}],
                "2175": [{% for i in Melvisharam %}"{{ i }}",{% endfor %}],

                "2071": [{% for i in Mettupalayam %}"{{ i }}",{% endfor %}],
                "2119": [{% for i in Mettur %}"{{ i }}",{% endfor %}],
                "1791": [{% for i in Minjur %}"{{ i }}",{% endfor %}],
                "1792": [{% for i in Mohanur %}"{{ i }}",{% endfor %}],
                "1793":[{% for i in Moolaikaraipatti %}"{{ i }}",{% endfor %}],
                "2209":[{% for i in Mopperipalayam %}"{{ i }}",{% endfor %}],
                "1796": [{% for i in Moppiripalayam %}"{{ i }}",{% endfor %}],
                "1797": [{% for i in Mudukulathur %}"{{ i }}",{% endfor %}],
                "1798": [{% for i in Mukkudal %}"{{ i }}",{% endfor %}],
                "1799": [{% for i in Mulagumoodu %}"{{ i }}",{% endfor %}],
                "1800": [{% for i in Mulanur %}"{{ i }}",{% endfor %}],
                "1801": [{% for i in Musiri %}"{{ i }}",{% endfor %}],
                "1802": [{% for i in Muthupettai %}"{{ i }}",{% endfor %}],
                "1804": [{% for i in Muthur %}"{{ i }}",{% endfor %}],
                "1805": [{% for i in Mylaudy %}"{{ i }}",{% endfor %}],
               
                "1806": [{% for i in Naduvattam %}"{{ i }}",{% endfor %}],
                "2098": [{% for i in Nagapattinam %}"{{ i }}",{% endfor %}],
                "2212": [{% for i in Nagercoil %}"{{ i }}",{% endfor %}],
                "1807": [{% for i in Nagojanahalli %}"{{ i }}",{% endfor %}],
                "1808": [{% for i in Nallampatti %}"{{ i }}",{% endfor %}],
                "1809": [{% for i in Nalloor %}"{{ i }}",{% endfor %}],
                "1810": [{% for i in Namagiripettai %}"{{ i }}",{% endfor %}],
                "2100": [{% for i in Namakkal %}"{{ i }}",{% endfor %}],
                "1811": [{% for i in Nambiyur %}"{{ i }}",{% endfor %}],
                "2194": [{% for i in Nangavalli %}"{{ i }}",{% endfor %}],
                "1812": [{% for i in Nangavaram %}"{{ i }}",{% endfor %}],
                "1813": [{% for i in Nanguneri %}"{{ i }}",{% endfor %}],
                "1814": [{% for i in Nannilam %}"{{ i }}",{% endfor %}],
                "1815": [{% for i in Naranammalpuram %}"{{ i }}",{% endfor %}],
                "1816": [{% for i in Narasimmanaickenpalayam %}"{{ i }}",{% endfor %}],
                "2134": [{% for i in Narasingapuram %}"{{ i }}",{% endfor %}],
                "1817": [{% for i in Naravarikuppam %}"{{ i }}",{% endfor %}],
                "1818": [{% for i in Nasiyanur %}"{{ i }}",{% endfor %}],
                "1819": [{% for i in Natham %}"{{ i }}",{% endfor %}],
                "1820": [{% for i in Natrampalli %}"{{ i }}",{% endfor %}],
                "1821": [{% for i in Nattarasankottai %}"{{ i }}",{% endfor %}],
                "1822": [{% for i in Nazareth %}"{{ i }}",{% endfor %}],
                "1823":[{% for i in Needamangalam %}"{{ i }}",{% endfor %}],
                "1824":[{% for i in Neikkarapatti %}"{{ i }}",{% endfor %}],
                "2074": [{% for i in Nellikuppam %}"{{ i }}",{% endfor %}],
                "2156": [{% for i in Nelliyalam %}"{{ i }}",{% endfor %}],
                "1825": [{% for i in Nemili %}"{{ i }}",{% endfor %}],
                "1826": [{% for i in Nerunjipettai %}"{{ i }}",{% endfor %}],
                "1827": [{% for i in Neyyoor %}"{{ i }}",{% endfor %}],
                "1828": [{% for i in MecNilakottaiheri %}"{{ i }}",{% endfor %}],
                "1830": [{% for i in No_4_Veerapandi %}"{{ i }}",{% endfor %}],
                "1831": [{% for i in Odaipatti %}"{{ i }}",{% endfor %}],
                "1832": [{% for i in Odayakulam %}"{{ i }}",{% endfor %}],
                "2249": [{% for i in oddanchatram %}"{{ i }}",{% endfor %}],
                "2079": [{% for i in Oddanchatram %}"{{ i }}",{% endfor %}],
                "1833": [{% for i in Odugathur %}"{{ i }}",{% endfor %}],
                "1834": [{% for i in Omalur %}"{{ i }}",{% endfor %}],
                "1835": [{% for i in Othakkalmandapam %}"{{ i }}",{% endfor %}],

                "1836": [{% for i in Pacode %}"{{ i }}",{% endfor %}],
                "2197": [{% for i in Padaiveedu %}"{{ i }}",{% endfor %}],
                "1837": [{% for i in Padaveedu %}"{{ i }}",{% endfor %}],
                "2089": [{% for i in Padmanabhapuram %}"{{ i }}",{% endfor %}],
                "1838": [{% for i in Palacode %}"{{ i }}",{% endfor %}],
                "1839": [{% for i in Palamedu %}"{{ i }}",{% endfor %}],
                "2080": [{% for i in Palani %}"{{ i }}",{% endfor %}],
                "1840": [{% for i in Palanichettipatti %}"{{ i }}",{% endfor %}],
                "1842": [{% for i in Palapallam %}"{{ i }}",{% endfor %}],
                "1843": [{% for i in Palayam %}"{{ i }}",{% endfor %}],
                "1844": [{% for i in Palladam %}"{{ i }}",{% endfor %}],
                "1845": [{% for i in Pallapalayam %}"{{ i }}",{% endfor %}],
                "1846": [{% for i in Pallathur %}"{{ i }}",{% endfor %}],
                "2069": [{% for i in Pallavapuram %}"{{ i }}",{% endfor %}],
                "1847": [{% for i in Pallikonda %}"{{ i }}",{% endfor %}],
                "2185": [{% for i in Pallipattu %}"{{ i }}",{% endfor %}],
                "1848": [{% for i in Pallipet %}"{{ i }}",{% endfor %}],
                "1849": [{% for i in Palugal %}"{{ i }}",{% endfor %}],
                "2176": [{% for i in Pammal %}"{{ i }}",{% endfor %}],
                "1850": [{% for i in Panagudi %}"{{ i }}",{% endfor %}],
                "1851": [{% for i in Panamarathupatty %}"{{ i }}",{% endfor %}],
                "1852": [{% for i in Panapakkam %}"{{ i }}",{% endfor %}],
                "1853":[{% for i in Pandamangalam %}"{{ i }}",{% endfor %}],
                "1854":[{% for i in Pannaikkadu %}"{{ i }}",{% endfor %}],
                "1855": [{% for i in Panpoli %}"{{ i }}",{% endfor %}],
                "2075": [{% for i in Panruti %}"{{ i }}",{% endfor %}],
                "1856": [{% for i in Papanasam %}"{{ i }}",{% endfor %}],
                "1857": [{% for i in Papparapatti %}"{{ i }}",{% endfor %}],
                "1858": [{% for i in Pappireddipatti %}"{{ i }}",{% endfor %}],
                "2125": [{% for i in Paramakudi %}"{{ i }}",{% endfor %}],
                "1859": [{% for i in Paramathy %}"{{ i }}",{% endfor %}],
                "1860": [{% for i in Parangipettai %}"{{ i }}",{% endfor %}],
                "1861": [{% for i in Paravai %}"{{ i }}",{% endfor %}],
                "1862": [{% for i in Pathamadai %}"{{ i }}",{% endfor %}],
                "1863": [{% for i in Pattanam %}"{{ i }}",{% endfor %}],
                "2136": [{% for i in Pattukottai %}"{{ i }}",{% endfor %}],
                "1864": [{% for i in Pennadam %}"{{ i }}",{% endfor %}],
                "1865": [{% for i in Pennagaram %}"{{ i }}",{% endfor %}],

                "1866": [{% for i in Pennathur %}"{{ i }}",{% endfor %}],
                "1867": [{% for i in Peraiyur %}"{{ i }}",{% endfor %}],
                "2109": [{% for i in Perambalur %}"{{ i }}",{% endfor %}],
                "2222": [{% for i in Peravoorani %}"{{ i }}",{% endfor %}],
                "1868": [{% for i in Peravurani %}"{{ i }}",{% endfor %}],
                "2202": [{% for i in Periyakodiveri %}"{{ i }}",{% endfor %}],
                "2166": [{% for i in Periyakulam %}"{{ i }}",{% endfor %}],
                "1870": [{% for i in Periyanaickenpalayam %}"{{ i }}",{% endfor %}],
                "1871": [{% for i in Periyanegamam %}"{{ i }}",{% endfor %}],
                "1872": [{% for i in Pernamallur %}"{{ i }}",{% endfor %}],
                "2158": [{% for i in Pernambut %}"{{ i }}",{% endfor %}],
                "1873": [{% for i in Perumagalur %}"{{ i }}",{% endfor %}],
                "2266": [{% for i in Perumbalur %}"{{ i }}",{% endfor %}],
                "1874": [{% for i in Perundurai %}"{{ i }}",{% endfor %}],
                "1875": [{% for i in Perungulam %}"{{ i }}",{% endfor %}],
                "1876": [{% for i in Pethampalayam %}"{{ i }}",{% endfor %}],
                "1877": [{% for i in Pethanaickanpalayam %}"{{ i }}",{% endfor %}],
                "1878": [{% for i in Pillanallur %}"{{ i }}",{% endfor %}],
                "2182": [{% for i in PJCholapuram %}"{{ i }}",{% endfor %}],
                "1881": [{% for i in P_Mettupalayam %}"{{ i }}",{% endfor %}],
                "1882": [{% for i in P_N_Patty %}"{{ i }}",{% endfor %}],
                "1883": [{% for i in Podhaturpet %}"{{ i }}",{% endfor %}],
                "2072":[{% for i in Pollachi %}"{{ i }}",{% endfor %}],
                "1884":[{% for i in Polur %}"{{ i }}",{% endfor %}],
                "1885": [{% for i in Ponmanai %}"{{ i }}",{% endfor %}],
                "1887": [{% for i in Ponnamaravathy %}"{{ i }}",{% endfor %}],
                "1888": [{% for i in Ponnampatti %}"{{ i }}",{% endfor %}],
                "1889": [{% for i in Poolambadi %}"{{ i }}",{% endfor %}],
                "1891": [{% for i in Poolampatti %}"{{ i }}",{% endfor %}],
                "2193": [{% for i in Poolampatty %}"{{ i }}",{% endfor %}],
                "1893": [{% for i in Pooluvapatti %}"{{ i }}",{% endfor %}],
                "2167": [{% for i in Poonamallee %}"{{ i }}",{% endfor %}],
                "1894": [{% for i in Pothanur %}"{{ i }}",{% endfor %}],
                "2110": [{% for i in Pudukkottai %}"{{ i }}",{% endfor %}],
                "2264": [{% for i in Pudukottai %}"{{ i }}",{% endfor %}],
                "1895": [{% for i in Pudupalayam %}"{{ i }}",{% endfor %}],
                "1896": [{% for i in Pudupatti %}"{{ i }}",{% endfor %}],
                "1897": [{% for i in Pudur %}"{{ i }}",{% endfor %}],
                
                "2239": [{% for i in Pudur_S %}"{{ i }}",{% endfor %}],
                "2243": [{% for i in Pudur_V %}"{{ i }}",{% endfor %}],
                "1899": [{% for i in Puduvayal %}"{{ i }}",{% endfor %}],
                "2130": [{% for i in Puliangudi %}"{{ i }}",{% endfor %}],
                "2267": [{% for i in Puliyangudi %}"{{ i }}",{% endfor %}],
                "1900": [{% for i in Puliyur %}"{{ i }}",{% endfor %}],
                "1901": [{% for i in Pullambadi %}"{{ i }}",{% endfor %}],
                "2231": [{% for i in PunjaiPugalur %}"{{ i }}",{% endfor %}],
                "2083": [{% for i in Punjaipuliampatti %}"{{ i }}",{% endfor %}],
                "1903": [{% for i in Punjaithottakurichi %}"{{ i }}",{% endfor %}],
                "1905": [{% for i in Puthalam %}"{{ i }}",{% endfor %}],
                "1906": [{% for i in Puthukadai %}"{{ i }}",{% endfor %}],
                "1907": [{% for i in Puvalur %}"{{ i }}",{% endfor %}],
                "2133": [{% for i in Rajapalayam %}"{{ i }}",{% endfor %}],
                "2107": [{% for i in Ramanathapuram %}"{{ i }}",{% endfor %}],
                "2157": [{% for i in Rameswaram %}"{{ i }}",{% endfor %}],
                "2104": [{% for i in Ranipet %}"{{ i }}",{% endfor %}],
                "2101": [{% for i in Rasipuram %}"{{ i }}",{% endfor %}],
                "1908": [{% for i in Rayagiri %}"{{ i }}",{% endfor %}],
                "1909": [{% for i in Reethapuram %}"{{ i }}",{% endfor %}],
                "1910": [{% for i in R_Pudupatty %}"{{ i }}",{% endfor %}],
                "1911": [{% for i in R_S_Mangalam %}"{{ i }}",{% endfor %}],

                "1912": [{% for i in Salangapalayam %}"{{ i }}",{% endfor %}],
                "1913": [{% for i in Samalapuram %}"{{ i }}",{% endfor %}],
                "1914": [{% for i in Sambavarvadakarai %}"{{ i }}",{% endfor %}],
                "2240": [{% for i in Sambavar_vadakarai %}"{{ i }}",{% endfor %}],
                "1915": [{% for i in Sangaramanallur %}"{{ i }}",{% endfor %}],
                "1916": [{% for i in Sankagiri %}"{{ i }}",{% endfor %}],
                "2268": [{% for i in Sankarankoil %}"{{ i }}",{% endfor %}],
                "2103": [{% for i in Sankarankovil %}"{{ i }}",{% endfor %}],
                "1917": [{% for i in Sankarapuram %}"{{ i }}",{% endfor %}],
                "1918": [{% for i in Sankari %}"{{ i }}",{% endfor %}],
                "1920": [{% for i in SankarNagar %}"{{ i }}",{% endfor %}],
                "1921": [{% for i in Sarkarsamakulam %}"{{ i }}",{% endfor %}],
                "1922": [{% for i in Sathankulam %}"{{ i }}",{% endfor %}],
                "2094": [{% for i in Sathyamangalam %}"{{ i }}",{% endfor %}],
                "2127": [{% for i in Sattur %}"{{ i }}",{% endfor %}],
                "1923": [{% for i in Sawyerpuram %}"{{ i }}",{% endfor %}],
                "1924": [{% for i in Sayalkudi %}"{{ i }}",{% endfor %}],
                "1926": [{% for i in Seerapalli %}"{{ i }}",{% endfor %}],
                "1927": [{% for i in Seithur %}"{{ i }}",{% endfor %}],
                "1928": [{% for i in Sendamangalam %}"{{ i }}",{% endfor %}],
                "2131": [{% for i in Sengottai %}"{{ i }}",{% endfor %}],
                "1929": [{% for i in Sentharappatty %}"{{ i }}",{% endfor %}],
                "1930":[{% for i in Sevugampatti %}"{{ i }}",{% endfor %}],
                "1931":[{% for i in Sholapuram %}"{{ i }}",{% endfor %}],
                "1932": [{% for i in Sholavandan %}"{{ i }}",{% endfor %}],
                "2189": [{% for i in Sholingur %}"{{ i }}",{% endfor %}],
                "1933": [{% for i in Sholur %}"{{ i }}",{% endfor %}],
                "1934": [{% for i in Singampunari %}"{{ i }}",{% endfor %}],
                "2097": [{% for i in Sirkali %}"{{ i }}",{% endfor %}],
                "1936": [{% for i in Sirugamani %}"{{ i }}",{% endfor %}],
                "1937": [{% for i in Sirumugai %}"{{ i }}",{% endfor %}],
                "1938": [{% for i in Sithayankottai %}"{{ i }}",{% endfor %}],
                "2115": [{% for i in Sivagangai %}"{{ i }}",{% endfor %}],
                "2184": [{% for i in Sivagiri_Erode %}"{{ i }}",{% endfor %}],
                "1939": [{% for i in Sivagiri_Tenkasi %}"{{ i }}",{% endfor %}],
                "2177": [{% for i in Sivakasi %}"{{ i }}",{% endfor %}],
                "1940": [{% for i in S_Kannanur %}"{{ i }}",{% endfor %}],

                "1941": [{% for i in S_Kodikulam %}"{{ i }}",{% endfor %}],
                "1942": [{% for i in Srimushnam %}"{{ i }}",{% endfor %}],
                "1944": [{% for i in Sriperumbudur %}"{{ i }}",{% endfor %}],
                "1945": [{% for i in Sriramapuram %}"{{ i }}",{% endfor %}],
                "1946": [{% for i in Srivaikuntam %}"{{ i }}",{% endfor %}],
                "2170": [{% for i in Srivilliputhur %}"{{ i }}",{% endfor %}],
                "1947": [{% for i in Suchindrum %}"{{ i }}",{% endfor %}],
                "1948": [{% for i in Suleeswaranpatti %}"{{ i }}",{% endfor %}],
                "2218": [{% for i in Suleswaranpatti %}"{{ i }}",{% endfor %}],
                "1949": [{% for i in Sulur %}"{{ i }}",{% endfor %}],
                "1950": [{% for i in Sundarapandiam %}"{{ i }}",{% endfor %}],
                "1951": [{% for i in Sundarapandiapuram %}"{{ i }}",{% endfor %}],
                "1952": [{% for i in Sundarapandiyapuram %}"{{ i }}",{% endfor %}],
                "1953": [{% for i in Swamimalai %}"{{ i }}",{% endfor %}],
                
                "2070": [{% for i in Tambaram %}"{{ i }}",{% endfor %}],
                "2126": [{% for i in Tenkasi %}"{{ i }}",{% endfor %}],
                "1954": [{% for i in Thadikombu %}"{{ i }}",{% endfor %}],
                "1955": [{% for i in Thakkolam %}"{{ i }}",{% endfor %}],
                "2223": [{% for i in Thalainayar %}"{{ i }}",{% endfor %}],
                "1956": [{% for i in Thalanayar %}"{{ i }}",{% endfor %}],
                "1957": [{% for i in Thamaraikulam %}"{{ i }}",{% endfor %}],
                "1958": [{% for i in Thammampatty %}"{{ i }}",{% endfor %}],
                "1959": [{% for i in Tharangambadi %}"{{ i }}",{% endfor %}],
                "1960": [{% for i in Thathaiyangarpet %}"{{ i }}",{% endfor %}],
                "2226": [{% for i in Thathayangarpet %}"{{ i }}",{% endfor %}],
                "1964": [{% for i in Thazhakudy %}"{{ i }}",{% endfor %}],
                "2108": [{% for i in Theni_Allinagaram %}"{{ i }}",{% endfor %}],
                "1965": [{% for i in Thenkarai %}"{{ i }}",{% endfor %}],
                "1966": [{% for i in Thenthamaraikulam %}"{{ i }}",{% endfor %}],
                "1967": [{% for i in Theroor %}"{{ i }}",{% endfor %}],
                "1968": [{% for i in Thevaram %}"{{ i }}",{% endfor %}],
                "1969": [{% for i in Thevur %}"{{ i }}",{% endfor %}],
                "1970": [{% for i in Thimiri %}"{{ i }}",{% endfor %}],
                "1971": [{% for i in Thingalnagar %}"{{ i }}",{% endfor %}],
                "1972": [{% for i in Thirubuvanam %}"{{ i }}",{% endfor %}],
                "2179": [{% for i in Thirukalukundram %}"{{ i }}",{% endfor %}],
                "1973":[{% for i in Thirukattupalli %}"{{ i }}",{% endfor %}],
                "1974":[{% for i in Thirukazhukundram %}"{{ i }}",{% endfor %}],
                "1975": [{% for i in Thirukkurungudi %}"{{ i }}",{% endfor %}],
                "2238": [{% for i in Thirukurankudi %}"{{ i }}",{% endfor %}],
                "1976": [{% for i in Thirumalayampalayam %}"{{ i }}",{% endfor %}],
                "1977": [{% for i in Thirumazhisai %}"{{ i }}",{% endfor %}],
                "2203": [{% for i in Thirumurugan_poondi %}"{{ i }}",{% endfor %}],
                "1979": [{% for i in Thirunageswaram %}"{{ i }}",{% endfor %}],
                "2186": [{% for i in Thiruninravur %}"{{ i }}",{% endfor %}],
                "1980": [{% for i in Thiruparappu %}"{{ i }}",{% endfor %}],
                "2256": [{% for i in Thirupathur %}"{{ i }}",{% endfor %}],
                "1983": [{% for i in Thiruporur %}"{{ i }}",{% endfor %}],
                "1981": [{% for i in Thiruppananthal %}"{{ i }}",{% endfor %}],
                "1982": [{% for i in Thiruppathur %}"{{ i }}",{% endfor %}],
                "1985": [{% for i in Thiruppuvanam %}"{{ i }}",{% endfor %}],

                "2135": [{% for i in Thiruthangal %}"{{ i }}",{% endfor %}],
                "1986": [{% for i in Thiruthani %}"{{ i }}",{% endfor %}],
                "2159": [{% for i in Thiruthuraipoondi %}"{{ i }}",{% endfor %}],
                "1987": [{% for i in Thiruvaiyaru %}"{{ i }}",{% endfor %}],
                "1988": [{% for i in Thiruvalam %}"{{ i }}",{% endfor %}],
                "2260": [{% for i in Thiruvallur %}"{{ i }}",{% endfor %}],
                "2148": [{% for i in Thiruvannamalai %}"{{ i }}",{% endfor %}],
                "2112": [{% for i in Thiruvannamalai1 %}"{{ i }}",{% endfor %}],
                "2111": [{% for i in Thiruvarur %}"{{ i }}",{% endfor %}],
                "2144": [{% for i in Thiruvathipuram %}"{{ i }}",{% endfor %}],
                "1989": [{% for i in Thiruvattar %}"{{ i }}",{% endfor %}],
                "1990": [{% for i in Thiruvengadam %}"{{ i }}",{% endfor %}],
                "2139": [{% for i in Thiruverkadu %}"{{ i }}",{% endfor %}],
                "1991": [{% for i in Thiruvidaimaruthur %}"{{ i }}",{% endfor %}],
                "1992": [{% for i in Thiruvithancode %}"{{ i }}",{% endfor %}],
                "1994": [{% for i in Thisayanvilai %}"{{ i }}",{% endfor %}],
                "2224": [{% for i in Thittacherry %}"{{ i }}",{% endfor %}],
                "1995": [{% for i in Thittachery %}"{{ i }}",{% endfor %}],
                "1996": [{% for i in Thittakudi %}"{{ i }}",{% endfor %}],
                "1997": [{% for i in Thiyagadurgam %}"{{ i }}",{% endfor %}],
                "1998": [{% for i in Thondamuthur %}"{{ i }}",{% endfor %}],
                "1999": [{% for i in Thondi %}"{{ i }}",{% endfor %}],
                "2215":[{% for i in Thoothukudi %}"{{ i }}",{% endfor %}],
                "2000":[{% for i in Thottiam %}"{{ i }}",{% endfor %}],
                "2155": [{% for i in Thuraiyur %}"{{ i }}",{% endfor %}],
                "2153": [{% for i in Thuvakudi %}"{{ i }}",{% endfor %}],
                "2146": [{% for i in Tindivanam %}"{{ i }}",{% endfor %}],
                "2129": [{% for i in Tiruchengode %}"{{ i }}",{% endfor %}],
                "2001": [{% for i in Tirukalukundram %}"{{ i }}",{% endfor %}],
                "2116": [{% for i in Tirumangalam %}"{{ i }}",{% endfor %}],
                "2216": [{% for i in Tirunelveli %}"{{ i }}",{% endfor %}],
                "2236": [{% for i in Tirupathur %}"{{ i }}",{% endfor %}],
                "2003": [{% for i in Tirupattur %}"{{ i }}",{% endfor %}],
                "2210": [{% for i in Tiruppur %}"{{ i }}",{% endfor %}],
                "2113": [{% for i in Tiruvallur %}"{{ i }}",{% endfor %}],
                "2263": [{% for i in Tiruvarur %}"{{ i }}",{% endfor %}],
                "2004": [{% for i in T_Kallupatti %}"{{ i }}",{% endfor %}],

                "2006": [{% for i in Udangudi %}"{{ i }}",{% endfor %}],
                "2007": [{% for i in Udayarpalayam %}"{{ i }}",{% endfor %}],
                "2008": [{% for i in Udayendiram %}"{{ i }}",{% endfor %}],
                "2105": [{% for i in Udhagamandalam %}"{{ i }}",{% endfor %}],
                "2168": [{% for i in Udumalaipet %}"{{ i }}",{% endfor %}],
                "2220": [{% for i in Ulundurpet %}"{{ i }}",{% endfor %}],
                "2011": [{% for i in Unnamalaikadai %}"{{ i }}",{% endfor %}],
                "2012": [{% for i in Uppidamangalam %}"{{ i }}",{% endfor %}],
                "2013": [{% for i in Uppiliapuram %}"{{ i }}",{% endfor %}],
                "2095": [{% for i in Usilampatti %}"{{ i }}",{% endfor %}],
                "2014": [{% for i in Uthamapalayam %}"{{ i }}",{% endfor %}],
                "2015": [{% for i in Uthangarai %}"{{ i }}",{% endfor %}],
                "2187": [{% for i in Uthayendram %}"{{ i }}",{% endfor %}],
                "2016": [{% for i in Uthiramerur %}"{{ i }}",{% endfor %}],
                "2017": [{% for i in Uthukottai %}"{{ i }}",{% endfor %}],
                "2018": [{% for i in Uthukuli %}"{{ i }}",{% endfor %}],
                "2242": [{% for i in Vadakarai_keelpidagai %}"{{ i }}",{% endfor %}],
                "2019": [{% for i in Vadakarai_Keelpidagai %}"{{ i }}",{% endfor %}],
                "2020": [{% for i in Vadakkanandal %}"{{ i }}",{% endfor %}],
                "2022": [{% for i in Vadakkuvalliyur %}"{{ i }}",{% endfor %}],
                "2021": [{% for i in Vadakkuvalliyur1 %}"{{ i }}",{% endfor %}],
                "2219": [{% for i in Vadalur %}"{{ i }}",{% endfor %}],
                "2023":[{% for i in Vadamadurai %}"{{ i }}",{% endfor %}],
                "2024":[{% for i in Vadipatti %}"{{ i }}",{% endfor %}],
                "2025": [{% for i in Vadugapatti %}"{{ i }}",{% endfor %}],
                "2026": [{% for i in Vaitheeswarankoil %}"{{ i }}",{% endfor %}],
                "2030": [{% for i in Valangaiman %}"{{ i }}",{% endfor %}],
                "2027": [{% for i in Valappady %}"{{ i }}",{% endfor %}],
                "2028": [{% for i in Valavanur %}"{{ i }}",{% endfor %}],
                "2029": [{% for i in Vallam %}"{{ i }}",{% endfor %}],
                "2031": [{% for i in Valvachagostam %}"{{ i }}",{% endfor %}],
                "2195": [{% for i in Vanavasi %}"{{ i }}",{% endfor %}],
                "2143": [{% for i in Vandavasi %}"{{ i }}",{% endfor %}],
                "2032": [{% for i in Vaniyambadi %}"{{ i }}",{% endfor %}],
                "2147": [{% for i in Vaniyambadi %}"{{ i }}",{% endfor %}],
                "2033": [{% for i in Varadarajanpettai %}"{{ i }}",{% endfor %}],
                "2034": [{% for i in Varatharajanpettai %}"{{ i }}",{% endfor %}],

                "2035": [{% for i in Vasudevanallur %}"{{ i }}",{% endfor %}],
                "2036": [{% for i in Vazhapadi %}"{{ i }}",{% endfor %}],
                "2037": [{% for i in Vedapatti %}"{{ i }}",{% endfor %}],
                "2262": [{% for i in Vedaranyam %}"{{ i }}",{% endfor %}],
                "2038": [{% for i in Vedasandur %}"{{ i }}",{% endfor %}],
                "2039": [{% for i in Veeraganur %}"{{ i }}",{% endfor %}],
                "2040": [{% for i in Veerakkalpudur %}"{{ i }}",{% endfor %}],
                "2041": [{% for i in Veerapandi %}"{{ i }}",{% endfor %}],
                "2042": [{% for i in Veeravanallur %}"{{ i }}",{% endfor %}],
                "2043": [{% for i in Velankanni %}"{{ i }}",{% endfor %}],
                "2252": [{% for i in Vellakoil %}"{{ i }}",{% endfor %}],
                "2140": [{% for i in Vellakovil %}"{{ i }}",{% endfor %}],
                "2044": [{% for i in Vellalore %}"{{ i }}",{% endfor %}],
                "2045": [{% for i in Vellimalai %}"{{ i }}",{% endfor %}],
                "2214": [{% for i in Vellore %}"{{ i }}",{% endfor %}],
                "2046": [{% for i in Velur %}"{{ i }}",{% endfor %}],
                "2047": [{% for i in Vengampudur %}"{{ i }}",{% endfor %}],
                "2048": [{% for i in Vengarai %}"{{ i }}",{% endfor %}],
                "2049": [{% for i in Vennandur %}"{{ i }}",{% endfor %}],
                "2050": [{% for i in Veppathur %}"{{ i }}",{% endfor %}],
                "2051": [{% for i in Verkilambi %}"{{ i }}",{% endfor %}],
                "2052": [{% for i in Vettaikaranpudur %}"{{ i }}",{% endfor %}],
                "2053":[{% for i in Vettavalam %}"{{ i }}",{% endfor %}],
                "2117":[{% for i in Vickramasingapuram %}"{{ i }}",{% endfor %}],
                "2054": [{% for i in Vilapakkam %}"{{ i }}",{% endfor %}],
                "2055": [{% for i in Vilathikulam %}"{{ i }}",{% endfor %}],
                "2056": [{% for i in Vilavoor %}"{{ i }}",{% endfor %}],
                "2114": [{% for i in Villuppuram %}"{{ i }}",{% endfor %}],
                "2257": [{% for i in Villupuram %}"{{ i }}",{% endfor %}],
                "2076": [{% for i in Virudhachalam %}"{{ i }}",{% endfor %}],
                "2106": [{% for i in Virudhunagar %}"{{ i }}",{% endfor %}],
                "2057": [{% for i in V_Pudur %}"{{ i }}",{% endfor %}],
                "2058": [{% for i in Walajabad %}"{{ i }}",{% endfor %}],
                "2124": [{% for i in Walajapet %}"{{ i }}",{% endfor %}],
                "2059": [{% for i in Watrap %}"{{ i }}",{% endfor %}],
                "2060": [{% for i in W_Pudupatti %}"{{ i }}",{% endfor %}],
                "2062": [{% for i in ZaminUthukulam %}"{{ i }}",{% endfor %}],

  			}   
  		});
  	}
</script>
<!--
    <script>
    $("#id_Project_ID").html('');
 const myArray = new Array( "--------",
 {% for i in  achanpudur_project %}
     "{{ i }}",
 {% endfor %}
 );


 var dropdown = document.getElementById("id_Project_ID");

var agencyName = $("#id_AgencyName option:selected").html();
        console.log("hello");
        var sector = $("#id_Sector option:selected").html();
        console.log(sector);
        console.log(agencyName);
        


</script>

-->
<script>
    
    $('#id_Project_ID').html(''); 
    const myArray2 = [{% for i in project_ids %} ["{{ i.AgencyName }}", "{{ i.Sector }}", "{{ i.Project_ID }}"], {%endfor%}];
    $("#id_purpose").change(abc);
    const myArray = new Array("--------",);
    function abc(){
       
        var dropdown = document.getElementById("id_Project_ID");
        var agencyName = $("#id_AgencyName").val();
        var sector = $("#id_Sector").val();
        var purpose = $("#id_purpose").val();
        
       
        for (var i=0; i<myArray2.length; ++i){
            if((myArray2[i][0]==agencyName) && (myArray2[i][1]==sector) && (purpose == "Project")){
                myArray.push(myArray2[i][2]);
            }
        }

        for (var i = 0; i < myArray.length; ++i) {
            dropdown[dropdown.length] = new Option(myArray[i], myArray[i]);
        }
        
    }
    var dropdown = document.getElementById("id_Project_ID");
    dropdown[dropdown.length] = new Option({% for i in p%}"{{i.project}}"{%endfor%}, {% for i in p%}"{{i.project}}"{%endfor%});
    
</script>

{% endblock %}

