 <div class="modal fade" id="CTPbusstand" tabindex="-1" role="dialog" aria-labelledby="busstand" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="busstandLabel">KNMT - District Wise Progress - Bus Stand</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPbusstand_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPSolidWasteMgt" tabindex="-1" role="dialog" aria-labelledby="CTPSolidWasteMgt" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CTPSolidWasteMgtLabel">KNMT - District Wise Progress - Solid Waste Mgt.</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPSolidWasteMgt_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPbtroad" tabindex="-1" role="dialog" aria-labelledby="btroad" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btroadLabel">KNMT - District Wise Progress - BT Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPbtroad_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 <div class="modal fade" id="CTPccroad" tabindex="-1" role="dialog" aria-labelledby="ccroad" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ccroadLabel">KNMT - District Wise Progress - CC Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPccroad_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPcrematorium" tabindex="-1" role="dialog" aria-labelledby="crematorium" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematoriumLabel">KNMT - District Wise Progress - Crematorium</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPcrematorium_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPculvert" tabindex="-1" role="dialog" aria-labelledby="CTPculvert" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CulvertLabel">KNMT - District Wise Progress - Culvert</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPculvert_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPKnowledgeCentre" tabindex="-1" role="dialog" aria-labelledby="KnowledgeCentre" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentreLabel">KNMT - District Wise Progress - Knowledge Centre</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPKnowledgeCentre_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPMarket" tabindex="-1" role="dialog" aria-labelledby="Market" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MarketLabel">KNMT - District Wise Progress - Market</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPMarket_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPMetalBeamCrashBarriers" tabindex="-1" role="dialog" aria-labelledby="MetalBeamCrashBarriers" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MetalBeamCrashBarriersLabel">KNMT - District Wise Progress - Metal Beam Crash Barriers</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPMetalBeamCrashBarriers_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPParks" tabindex="-1" role="dialog" aria-labelledby="CTPParks" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ParksLabel">KNMT - District Wise Progress - Parks</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPParks_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPPaverBlock" tabindex="-1" role="dialog" aria-labelledby="PaverBlock" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PaverBlockLabel">KNMT - District Wise Progress - Paver Block</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPPaverBlock_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPRetainingwall" tabindex="-1" role="dialog" aria-labelledby="Retainingwall" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="RetainingwallLabel">KNMT - District Wise Progress - Retaining wall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPRetainingwall_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPSWD" tabindex="-1" role="dialog" aria-labelledby="CTPSWD" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CTPSWDLabel">KNMT - District Wise Progress - SWD</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPSWD_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="CTPWaterBodies" tabindex="-1" role="dialog" aria-labelledby="CTPWaterBodies" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CTPSWDLabel">KNMT - District Wise Progress - Water Bodies</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                <th>
                  <div class="text">
                    <a href="#">S.No</a>
                  </div>
              </th>
              <th>
                <div class="text">
                    <a href="#">Name of the ULB</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Project ID</a>
                </div>
              </th>
              <th>
                <div class="text">
                    <a href="#" style="text-align: center">Progress</a>
                </div>
              </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPWaterBodies_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.ULBName }} </td>
                <td> {{ row.Project_ID }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percentageofworkdone|floatformat:2 }} %</td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




 <div class="modal fade" id="CTPbusstand_modal" tabindex="-1" role="dialog" aria-labelledby="busstand_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="busstandmodalLabel">KNMT - Works To Be Commenced - Bus Stand</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_c %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> <div class="modal fade" id="CTPbtroad1" tabindex="-1" role="dialog" aria-labelledby="btroad1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btroad1Label">KNMT - Works To Be Commenced - BT Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_btroad %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="CTPccroad1" tabindex="-1" role="dialog" aria-labelledby="ccroad1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ccroad1Label">KNMT - Works To Be Commenced - CC Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                 <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_ccroad %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="CTPcommunityhall1" tabindex="-1" role="dialog" aria-labelledby="communityhall1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="communityhall11Label">KNMT - Works To Be Commenced - Community Hall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>

              </tr>
              </thead>
              <tbody>
              {% for row in district_ch%}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="CTPcrematorium1" tabindex="-1" role="dialog" aria-labelledby="crematorium1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematorium1Label">KNMT - Works To Be Commenced - Crematorium</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_cr%}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="culvert1" tabindex="-1" role="dialog" aria-labelledby="culvert1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematorium1Label">KNMT - Works To Be Commenced - Culvert</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_cul %}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="CTPKnowledgeCentre1" tabindex="-1" role="dialog" aria-labelledby="KnowledgeCentre1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentre1Label">KNMT - Works To Be Commenced - Knowledge Centre</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_kc %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="CTPMarket1" tabindex="-1" role="dialog" aria-labelledby="Market1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentre1Label">KNMT - Works To Be Commenced - Market</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_m%}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="CTPMetalBeamCrashBarriers1" tabindex="-1" role="dialog" aria-labelledby="MetalBeamCrashBarriers1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentre1Label">KNMT - Works To Be Commenced - Metal Beam Crash Barriers</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_mbcb %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="CTPParks1" tabindex="-1" role="dialog" aria-labelledby="Parks1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Parks1Label">KNMT - Works To Be Commenced - Parks</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                 <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_p %}
                 <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="CTPPaverBlock1" tabindex="-1" role="dialog" aria-labelledby="PaverBlock1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PaverBlock1Label">KNMT - Works To Be Commenced - Paver Block</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_pb %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="CTPRetainingwall1" tabindex="-1" role="dialog" aria-labelledby="Retainingwall1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Retainingwall1Label">KNMT - Works To Be Commenced - Retaining wall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_rw  %}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="CTPSWM1" tabindex="-1" role="dialog" aria-labelledby="CTPSWM1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CTPSWM1Label">KNMT - Works To Be Commenced - Solid Waste Mgt.</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_swm  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




<div class="modal fade" id="CTPSWD1" tabindex="-1" role="dialog" aria-labelledby="CTPSWD1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CTPSWM1Label">KNMT - Works To Be Commenced - SWD</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                 <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_swd  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="CTPWaterBodies1" tabindex="-1" role="dialog" aria-labelledby="CTPWaterBodies1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CTPWaterBodies1Label">KNMT - Works To Be Commenced - Water Bodies</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_wb  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="CTPculvert1" tabindex="-1" role="dialog" aria-labelledby="CTPculvert1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CTPWaterBodies1Label">KNMT - Works To Be Commenced - Culvert</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in CTPdistrict_cul  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>