 <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">1</td>
     <td class="border-grey" style="text-align:center">BT Road</td>
    <td class="border-grey" style="text-align:right">{{ CTPbtroad_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPbtroad_approved_project_cost.project_cost }}</td>
     <td class="border-grey" style="text-align: right;">&#8377; {{ CTPbtroad_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPbtroad_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPbtroad_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPbtroad">{{ CTPbtroad_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPbtroad_inprogress_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPbtroad1">{{ CTPbtroad_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPbtroad_tobecommenced_project_cost.project_cost }}</td>
</tr>
         <tr class="border-grey {% cycle 'row1' 'row2'%}">
            <td class="border-grey" style="text-align:center">2</td>
             <td class="border-grey" style="text-align:center">Bus Stand</td>
            <td class="border-grey" style="text-align:right">{{ CTPbusstand_approved_project_count }}</td>
            <td class="border-grey" style="text-align:right">&#8377; {{ CTPbusstand_approved_project_cost.project_cost }}</td>
             <td class="border-grey" style="text-align: right;">&#8377; {{ CTPbusstand_awarded_cost.project_cost }}</td>
            <td class="border-grey" style="text-align:right">{{ CTPbusstand_completed_count }}</td>
            <td class="border-grey" style="text-align:right">&#8377; {{ CTPbusstand_completed_approved_project_cost.project_cost }}</td>
             <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPbusstand">{{ CTPbusstand_inprogress_count }}</a></td>
             <td class="border-grey" style="text-align:right">&#8377; {{ CTPbusstand_inprogress_approved_project_cost.project_cost }}</td>
             <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPbusstand_modal"> {{ CTPbusstand_tobecommenced_count }}</a></td>
            <td class="border-grey" style="text-align:right">&#8377; {{ CTPbusstand_tobecommenced_project_cost.project_cost }}</td>
        </tr>
         <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">3</td>
     <td class="border-grey" style="text-align:center">CC Road</td>
    <td class="border-grey" style="text-align:right">{{ CTPccroad_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPccroad_approved_project_cost.project_cost }}</td>
              <td class="border-grey" style="text-align: right;">&#8377; {{ CTPccroad_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPccroad_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPccroad_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPccroad">{{ CTPccroad_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPccroad_inprogress_approved_project_cost.project_cost }}</td>

             <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPccroad1">{{ CTPccroad_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPccroad_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">4</td>
     <td class="border-grey" style="text-align:center">Community Hall</td>
    <td class="border-grey" style="text-align:right">{{ CTPcommunityhall_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPcommunityhall_approved_project_cost.project_cost }}</td>
           <td class="border-grey" style="text-align: right;">&#8377; {{ CTPcommunityhall_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPcommunityhall_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPcommunityhall_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPcommunityhall">{{ CTPcommunityhall_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPcommunityhall_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPcommunityhall1">{{ CTPcommunityhall_tobecommenced_count }}</a> </td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPcommunityhall_tobecommenced_project_cost.project_cost }}</td>
</tr>
<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">5</td>
     <td class="border-grey" style="text-align:center">Crematorium</td>
    <td class="border-grey" style="text-align:right">{{ CTPcrematorium_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPcrematorium_approved_project_cost.project_cost }}</td>
     <td class="border-grey" style="text-align: right;">&#8377; {{ CTPcrematorium_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPcrematorium_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPcrematorium_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPcrematorium">{{ CTPcrematorium_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPcrematorium_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPcrematorium1">{{ CTPcrematorium_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPcrematorium_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">6</td>
     <td class="border-grey" style="text-align:center">Culvert</td>
    <td class="border-grey" style="text-align:right">{{ CTPculvert_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPculvert_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPculvert_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPculvert_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPculvert_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPculvert">{{ CTPculvert_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPculvert_inprogress_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPculvert1">{{ CTPculvert_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPculvert_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">7</td>
     <td class="border-grey" style="text-align:center">Knowledge Centre</td>
    <td class="border-grey" style="text-align:right">{{ CTPKnowledgeCentre_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPKnowledgeCentre_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPKnowledgeCentre_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPKnowledgeCentre_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPKnowledgeCentre_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPKnowledgeCentre">{{ CTPKnowledgeCentre_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPKnowledgeCentre_inprogress_approved_project_cost.project_cost }}</td>
           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPKnowledgeCentre1">{{ CTPKnowledgeCentre_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPKnowledgeCentre_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">8</td>
     <td class="border-grey" style="text-align:center">Market</td>
    <td class="border-grey" style="text-align:right">{{ CTPMarket_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPMarket_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPMarket_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPMarket_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPMarket_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPMarket">{{ CTPMarket_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPMarket_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPMarket1">{{ CTPMarket_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPMarket_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">9</td>
     <td class="border-grey" style="text-align:center">Metal Beam Crash Barriers</td>
    <td class="border-grey" style="text-align:right">{{ CTPMetalBeamCrashBarriers_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPMetalBeamCrashBarriers_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPMetalBeamCrashBarriers_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPMetalBeamCrashBarriers_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPMetalBeamCrashBarriers_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPMetalBeamCrashBarriers">{{ CTPMetalBeamCrashBarriers_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPMetalBeamCrashBarriers_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPMetalBeamCrashBarriers1">{{ CTPMetalBeamCrashBarriers_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPMetalBeamCrashBarriers_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">10</td>
     <td class="border-grey" style="text-align:center">Parks</td>
    <td class="border-grey" style="text-align:right">{{ CTPParks_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPParks_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPParks_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPParks_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPParks_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPParks">{{ CTPParks_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPParks_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPParks1">{{ CTPParks_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPParks_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">11</td>
     <td class="border-grey" style="text-align:center">PaverBlock</td>
    <td class="border-grey" style="text-align:right">{{ CTPPaverBlock_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPPaverBlock_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPPaverBlock_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPPaverBlock_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPPaverBlock_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPPaverBlock">{{ CTPPaverBlock_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPPaverBlock_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPPaverBlock1">{{ CTPPaverBlock_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPPaverBlock_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">12</td>
     <td class="border-grey" style="text-align:center">Retaining wall</td>
    <td class="border-grey" style="text-align:right">{{ CTPRetainingwall_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPRetainingwall_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPRetainingwall_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPRetainingwall_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPRetainingwall_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPRetainingwall">{{ CTPRetainingwall_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPRetainingwall_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPRetainingwall1">{{ CTPRetainingwall_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPRetainingwall_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">13</td>
     <td class="border-grey" style="text-align:center">SolidWasteMgt.</td>
    <td class="border-grey" style="text-align:right">{{ CTPSolidWasteMgt_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPSolidWasteMgt_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPSolidWasteMgt_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPSolidWasteMgt_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPSolidWasteMgt_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPSolidWasteMgt">{{ CTPSolidWasteMgt_inprogress_count }} </a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPSolidWasteMgt_inprogress_approved_project_cost.project_cost }}</td>
           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPSWM1">{{ CTPSolidWasteMgt_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPSolidWasteMgt_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">14</td>
     <td class="border-grey" style="text-align:center">SWD</td>
    <td class="border-grey" style="text-align:right">{{ CTPSWD_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPSWD_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPSWD_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPSWD_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPSWD_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPSWD">{{ CTPSWD_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPSWD_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPSWD1">{{ CTPSWD_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPSWD_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">15</td>
     <td class="border-grey" style="text-align:center">WaterBodies</td>
    <td class="border-grey" style="text-align:right">{{ CTPWaterBodies_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPWaterBodies_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ CTPWaterBodies_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ CTPWaterBodies_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPWaterBodies_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPWaterBodies">{{ CTPWaterBodies_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ CTPWaterBodies_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#CTPWaterBodies1">{{ CTPWaterBodies_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ CTPWaterBodies_tobecommenced_project_cost.project_cost }}</td>
</tr>

