 <div class="modal fade" id="DMAbusstand" tabindex="-1" role="dialog" aria-labelledby="busstand" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="busstandLabel">KNMT - District Wise Progress - Bus Stand</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAbusstand_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
              <td>
                    <form method="post" action="{% url 'DMAexport_in_bs' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMASolidWasteMgt" tabindex="-1" role="dialog" aria-labelledby="DMASolidWasteMgt" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DMASolidWasteMgtLabel">KNMT - District Wise Progress - Solid Waste Mgt.</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMASolidWasteMgt_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
              <td>
                    <form method="post" action="{% url 'DMAexport_in_bs' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMAbtroad" tabindex="-1" role="dialog" aria-labelledby="btroad" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btroadLabel">KNMT - District Wise Progress - BT Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAbtroad_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                <td>
                    <form method="post" action="{% url 'DMAexport_in_bt' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 <div class="modal fade" id="DMAccroad" tabindex="-1" role="dialog" aria-labelledby="ccroad" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ccroadLabel">KNMT - District Wise Progress - CC Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAccroad_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
              <td>
                    <form method="post" action="{% url 'DMAexport_in_cc' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMAcrematorium" tabindex="-1" role="dialog" aria-labelledby="crematorium" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematoriumLabel">KNMT - District Wise Progress - Crematorium</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAcrematorium_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
               <td>
                    <form method="post" action="{% url 'DMAexport_in_cr' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMAculvert" tabindex="-1" role="dialog" aria-labelledby="DMAculvert" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CulvertLabel">KNMT - District Wise Progress - Culvert</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                     <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAculvert_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                <td>
                    <form method="post" action="{% url 'DMAexport_in_cl' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMAKnowledgeCentre" tabindex="-1" role="dialog" aria-labelledby="KnowledgeCentre" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentreLabel">KNMT - District Wise Progress - Knowledge Centre</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                    <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAKnowledgeCentre_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'DMAexport_in_kc' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMAMarket" tabindex="-1" role="dialog" aria-labelledby="Market" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MarketLabel">KNMT - District Wise Progress - Market</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAMarket_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                   <td>
                    <form method="post" action="{% url 'DMAexport_in_mt' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMAMetalBeamCrashBarriers" tabindex="-1" role="dialog" aria-labelledby="MetalBeamCrashBarriers" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MetalBeamCrashBarriersLabel">KNMT - District Wise Progress - Metal Beam Crash Barriers</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAMetalBeamCrashBarriers_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'DMAexport_in_mbcb' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMAParks" tabindex="-1" role="dialog" aria-labelledby="DMAParks" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ParksLabel">KNMT - District Wise Progress - Parks</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAParks_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                   <td>
                    <form method="post" action="{% url 'DMAexport_in_pk' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMAPaverBlock" tabindex="-1" role="dialog" aria-labelledby="PaverBlock" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PaverBlockLabel">KNMT - District Wise Progress - Paver Block</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAPaverBlock_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_pb' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMARetainingwall" tabindex="-1" role="dialog" aria-labelledby="Retainingwall" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="RetainingwallLabel">KNMT - District Wise Progress - Retaining wall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMARetainingwall_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_rw' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMASWD" tabindex="-1" role="dialog" aria-labelledby="DMASWD" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DMASWDLabel">KNMT - District Wise Progress - SWD</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMASWD_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_swd' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="DMAWaterBodies" tabindex="-1" role="dialog" aria-labelledby="DMAWaterBodies" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DMASWDLabel">KNMT - District Wise Progress - Water Bodies</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                    <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAWaterBodies_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_wb' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




 <div class="modal fade" id="DMAbusstand_modal" tabindex="-1" role="dialog" aria-labelledby="busstand_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="busstandmodalLabel">KNMT - Works To Be Commenced - Bus Stand</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_c %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> <div class="modal fade" id="DMAbtroad1" tabindex="-1" role="dialog" aria-labelledby="btroad1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btroad1Label">KNMT - Works To Be Commenced - BT Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_btroad %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="DMAccroad1" tabindex="-1" role="dialog" aria-labelledby="ccroad1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ccroad1Label">KNMT - Works To Be Commenced - CC Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                 <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_ccroad %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="DMAcommunityhall1" tabindex="-1" role="dialog" aria-labelledby="communityhall1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="communityhall11Label">KNMT - Works To Be Commenced - Community Hall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>

              </tr>
              </thead>
              <tbody>
              {% for row in district_ch%}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="DMAcrematorium1" tabindex="-1" role="dialog" aria-labelledby="crematorium1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematorium1Label">KNMT - Works To Be Commenced - Crematorium</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_cr%}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="culvert1" tabindex="-1" role="dialog" aria-labelledby="culvert1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematorium1Label">KNMT - Works To Be Commenced - Culvert</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_cul %}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="DMAKnowledgeCentre1" tabindex="-1" role="dialog" aria-labelledby="KnowledgeCentre1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentre1Label">KNMT - Works To Be Commenced - Knowledge Centre</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_kc %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="DMAMarket1" tabindex="-1" role="dialog" aria-labelledby="Market1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentre1Label">KNMT - Works To Be Commenced - Market</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_m%}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="DMAMetalBeamCrashBarriers1" tabindex="-1" role="dialog" aria-labelledby="MetalBeamCrashBarriers1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentre1Label">KNMT - Works To Be Commenced - Metal Beam Crash Barriers</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_mbcb %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="DMAParks1" tabindex="-1" role="dialog" aria-labelledby="Parks1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Parks1Label">KNMT - Works To Be Commenced - Parks</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                 <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_p %}
                 <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="DMAPaverBlock1" tabindex="-1" role="dialog" aria-labelledby="PaverBlock1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PaverBlock1Label">KNMT - Works To Be Commenced - Paver Block</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_pb %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="Retainingwall1" tabindex="-1" role="dialog" aria-labelledby="Retainingwall1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Retainingwall1Label">KNMT - Works To Be Commenced - Retaining wall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_rw  %}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="DMASWM1" tabindex="-1" role="dialog" aria-labelledby="DMASWM1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DMASWM1Label">KNMT - Works To Be Commenced - Solid Waste Mgt.</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_swm  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




<div class="modal fade" id="DMASWD1" tabindex="-1" role="dialog" aria-labelledby="DMASWD1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DMASWM1Label">KNMT - Works To Be Commenced - SWD</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                 <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_swd  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="DMAWaterBodies1" tabindex="-1" role="dialog" aria-labelledby="DMAWaterBodies1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DMAWaterBodies1Label">KNMT - Works To Be Commenced - Water Bodies</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_wb  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="DMAculvert1" tabindex="-1" role="dialog" aria-labelledby="DMAculvert1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DMAWaterBodies1Label">KNMT - Works To Be Commenced - Culvert</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in DMAdistrict_cul  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>