 <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">1</td>
     <td class="border-grey" style="text-align:center">BT Road</td>
    <td class="border-grey" style="text-align:right">{{ DMAbtroad_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAbtroad_approved_project_cost.project_cost }}</td>
     <td class="border-grey" style="text-align: right;">&#8377; {{ DMAbtroad_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAbtroad_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAbtroad_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#btroad">{{ DMAbtroad_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAbtroad_inprogress_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#btroad1">{{ DMAbtroad_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAbtroad_tobecommenced_project_cost.project_cost }}</td>
</tr>
         <tr class="border-grey {% cycle 'row1' 'row2'%}">
            <td class="border-grey" style="text-align:center">2</td>
             <td class="border-grey" style="text-align:center">Bus Stand</td>
            <td class="border-grey" style="text-align:right">{{ DMAbusstand_approved_project_count }}</td>
            <td class="border-grey" style="text-align:right">&#8377; {{ DMAbusstand_approved_project_cost.project_cost }}</td>
             <td class="border-grey" style="text-align: right;">&#8377; {{ DMAbusstand_awarded_cost.project_cost }}</td>
            <td class="border-grey" style="text-align:right">{{ DMAbusstand_completed_count }}</td>
            <td class="border-grey" style="text-align:right">&#8377; {{ DMAbusstand_completed_approved_project_cost.project_cost }}</td>
             <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#busstand">{{ DMAbusstand_inprogress_count }}</a></td>
             <td class="border-grey" style="text-align:right">&#8377; {{ DMAbusstand_inprogress_approved_project_cost.project_cost }}</td>
             <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#busstand_modal"> {{ DMAbusstand_tobecommenced_count }}</a></td>
            <td class="border-grey" style="text-align:right">&#8377; {{ DMAbusstand_tobecommenced_project_cost.project_cost }}</td>
        </tr>
         <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">3</td>
     <td class="border-grey" style="text-align:center">CC Road</td>
    <td class="border-grey" style="text-align:right">{{ DMAccroad_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAccroad_approved_project_cost.project_cost }}</td>
              <td class="border-grey" style="text-align: right;">&#8377; {{ DMAccroad_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAccroad_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAccroad_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#ccroad">{{ DMAccroad_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAccroad_inprogress_approved_project_cost.project_cost }}</td>

             <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#ccroad1">{{ DMAccroad_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAccroad_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">4</td>
     <td class="border-grey" style="text-align:center">Community Hall</td>
    <td class="border-grey" style="text-align:right">{{ DMAcommunityhall_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAcommunityhall_approved_project_cost.project_cost }}</td>
           <td class="border-grey" style="text-align: right;">&#8377; {{ DMAcommunityhall_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAcommunityhall_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAcommunityhall_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#communityhall">{{ DMAcommunityhall_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAcommunityhall_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#communityhall1">{{ DMAcommunityhall_tobecommenced_count }}</a> </td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAcommunityhall_tobecommenced_project_cost.project_cost }}</td>
</tr>
<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">5</td>
     <td class="border-grey" style="text-align:center">Crematorium</td>
    <td class="border-grey" style="text-align:right">{{ DMAcrematorium_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAcrematorium_approved_project_cost.project_cost }}</td>
     <td class="border-grey" style="text-align: right;">&#8377; {{ DMAcrematorium_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAcrematorium_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAcrematorium_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#crematorium">{{ DMAcrematorium_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAcrematorium_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#crematorium1">{{ DMAcrematorium_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAcrematorium_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">6</td>
     <td class="border-grey" style="text-align:center">Culvert</td>
    <td class="border-grey" style="text-align:right">{{ DMAculvert_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAculvert_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMAculvert_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAculvert_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAculvert_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#culvert">{{ DMAculvert_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAculvert_inprogress_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#culvert1">{{ DMAculvert_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAculvert_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">7</td>
     <td class="border-grey" style="text-align:center">Knowledge Centre</td>
    <td class="border-grey" style="text-align:right">{{ DMAKnowledgeCentre_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAKnowledgeCentre_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMAKnowledgeCentre_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAKnowledgeCentre_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAKnowledgeCentre_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#KnowledgeCentre">{{ DMAKnowledgeCentre_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAKnowledgeCentre_inprogress_approved_project_cost.project_cost }}</td>
           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#KnowledgeCentre1">{{ DMAKnowledgeCentre_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAKnowledgeCentre_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">8</td>
     <td class="border-grey" style="text-align:center">Market</td>
    <td class="border-grey" style="text-align:right">{{ DMAMarket_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAMarket_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMAMarket_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAMarket_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAMarket_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Market">{{ DMAMarket_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAMarket_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Market1">{{ DMAMarket_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAMarket_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">9</td>
     <td class="border-grey" style="text-align:center">Metal Beam Crash Barriers</td>
    <td class="border-grey" style="text-align:right">{{ DMAMetalBeamCrashBarriers_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAMetalBeamCrashBarriers_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMAMetalBeamCrashBarriers_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAMetalBeamCrashBarriers_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAMetalBeamCrashBarriers_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#MetalBeamCrashBarriers">{{ DMAMetalBeamCrashBarriers_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAMetalBeamCrashBarriers_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#MetalBeamCrashBarriers1">{{ DMAMetalBeamCrashBarriers_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAMetalBeamCrashBarriers_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">10</td>
     <td class="border-grey" style="text-align:center">Parks</td>
    <td class="border-grey" style="text-align:right">{{ DMAParks_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAParks_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMAParks_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAParks_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAParks_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Parks">{{ DMAParks_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAParks_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Parks1">{{ DMAParks_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAParks_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">11</td>
     <td class="border-grey" style="text-align:center">PaverBlock</td>
    <td class="border-grey" style="text-align:right">{{ DMAPaverBlock_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAPaverBlock_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMAPaverBlock_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAPaverBlock_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAPaverBlock_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#PaverBlock">{{ DMAPaverBlock_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAPaverBlock_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#PaverBlock1">{{ DMAPaverBlock_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAPaverBlock_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">12</td>
     <td class="border-grey" style="text-align:center">Retaining wall</td>
    <td class="border-grey" style="text-align:right">{{ DMARetainingwall_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMARetainingwall_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMARetainingwall_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMARetainingwall_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMARetainingwall_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Retainingwall">{{ DMARetainingwall_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMARetainingwall_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Retainingwall1">{{ DMARetainingwall_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMARetainingwall_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">13</td>
     <td class="border-grey" style="text-align:center">SolidWasteMgt.</td>
    <td class="border-grey" style="text-align:right">{{ DMASolidWasteMgt_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMASolidWasteMgt_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMASolidWasteMgt_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMASolidWasteMgt_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMASolidWasteMgt_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#SolidWasteMgt">{{ DMASolidWasteMgt_inprogress_count }} </a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMASolidWasteMgt_inprogress_approved_project_cost.project_cost }}</td>
           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#SWM1">{{ DMASolidWasteMgt_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMASolidWasteMgt_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">14</td>
     <td class="border-grey" style="text-align:center">SWD</td>
    <td class="border-grey" style="text-align:right">{{ DMASWD_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMASWD_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMASWD_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMASWD_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMASWD_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#SWD">{{ DMASWD_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMASWD_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#SWD1">{{ DMASWD_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMASWD_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">15</td>
     <td class="border-grey" style="text-align:center">WaterBodies</td>
    <td class="border-grey" style="text-align:right">{{ DMAWaterBodies_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAWaterBodies_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ DMAWaterBodies_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ DMAWaterBodies_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAWaterBodies_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#WaterBodies">{{ DMAWaterBodies_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ DMAWaterBodies_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#WaterBodies1">{{ DMAWaterBodies_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ DMAWaterBodies_tobecommenced_project_cost.project_cost }}</td>
</tr>