 <div class="modal fade" id="busstand" tabindex="-1" role="dialog" aria-labelledby="busstand" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="busstandLabel">KNMT - District Wise Progress - Bus Stand</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in busstand_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="btroad" tabindex="-1" role="dialog" aria-labelledby="btroad" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btroadLabel">KNMT - District Wise Progress - BT Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in btroad_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 <div class="modal fade" id="ccroad" tabindex="-1" role="dialog" aria-labelledby="ccroad" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ccroadLabel">KNMT - District Wise Progress - CC Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in ccroad_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="crematorium" tabindex="-1" role="dialog" aria-labelledby="crematorium" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematoriumLabel">KNMT - District Wise Progress - Crematorium</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in crematorium_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="culvert" tabindex="-1" role="dialog" aria-labelledby="culvert" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CulvertLabel">KNMT - District Wise Progress - Culvert</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in culvert_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="KnowledgeCentre" tabindex="-1" role="dialog" aria-labelledby="KnowledgeCentre" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentreLabel">KNMT - District Wise Progress - Knowledge Centre</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in KnowledgeCentre_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="Market" tabindex="-1" role="dialog" aria-labelledby="Market" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MarketLabel">KNMT - District Wise Progress - Market</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in Market_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="MetalBeamCrashBarriers" tabindex="-1" role="dialog" aria-labelledby="MetalBeamCrashBarriers" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MetalBeamCrashBarriersLabel">KNMT - District Wise Progress - Metal Beam Crash Barriers</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in MetalBeamCrashBarriers_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="Parks" tabindex="-1" role="dialog" aria-labelledby="Parks" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ParksLabel">KNMT - District Wise Progress - Parks</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in Parks_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="PaverBlock" tabindex="-1" role="dialog" aria-labelledby="PaverBlock" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PaverBlockLabel">KNMT - District Wise Progress - Paver Block</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in PaverBlock_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="Retainingwall" tabindex="-1" role="dialog" aria-labelledby="Retainingwall" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="RetainingwallLabel">KNMT - District Wise Progress - Retaining wall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in Retainingwall_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="SWD" tabindex="-1" role="dialog" aria-labelledby="SWD" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SWDLabel">KNMT - District Wise Progress - SWD</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in SWD_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="WaterBodies" tabindex="-1" role="dialog" aria-labelledby="WaterBodies" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SWDLabel">KNMT - District Wise Progress - Water Bodies</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in WaterBodies_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent }} %</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>