 <div class="modal fade" id="busstand" tabindex="-1" role="dialog" aria-labelledby="busstand" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="busstandLabel">KNMT - District Wise Progress - Bus Stand</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in busstand_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
              <td>
                    <form method="post" action="{% url 'export_in_bs' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="btroad" tabindex="-1" role="dialog" aria-labelledby="btroad" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btroadLabel">KNMT - District Wise Progress - BT Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in btroad_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                <td>
                    <form method="post" action="{% url 'export_in_bt' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 <div class="modal fade" id="ccroad" tabindex="-1" role="dialog" aria-labelledby="ccroad" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ccroadLabel">KNMT - District Wise Progress - CC Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in ccroad_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
              <td>
                    <form method="post" action="{% url 'export_in_cc' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="crematorium" tabindex="-1" role="dialog" aria-labelledby="crematorium" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematoriumLabel">KNMT - District Wise Progress - Crematorium</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in crematorium_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
               <td>
                    <form method="post" action="{% url 'export_in_cr' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="culvert" tabindex="-1" role="dialog" aria-labelledby="culvert" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CulvertLabel">KNMT - District Wise Progress - Culvert</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                     <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in culvert_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                <td>
                    <form method="post" action="{% url 'export_in_cl' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="KnowledgeCentre" tabindex="-1" role="dialog" aria-labelledby="KnowledgeCentre" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentreLabel">KNMT - District Wise Progress - Knowledge Centre</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                    <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in KnowledgeCentre_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_kc' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="Market" tabindex="-1" role="dialog" aria-labelledby="Market" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MarketLabel">KNMT - District Wise Progress - Market</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in Market_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                   <td>
                    <form method="post" action="{% url 'export_in_mt' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="MetalBeamCrashBarriers" tabindex="-1" role="dialog" aria-labelledby="MetalBeamCrashBarriers" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MetalBeamCrashBarriersLabel">KNMT - District Wise Progress - Metal Beam Crash Barriers</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in MetalBeamCrashBarriers_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_mbcb' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="Parks" tabindex="-1" role="dialog" aria-labelledby="Parks" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ParksLabel">KNMT - District Wise Progress - Parks</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in Parks_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                   <td>
                    <form method="post" action="{% url 'export_in_pk' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="PaverBlock" tabindex="-1" role="dialog" aria-labelledby="PaverBlock" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PaverBlockLabel">KNMT - District Wise Progress - Paver Block</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in PaverBlock_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_pb' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="Retainingwall" tabindex="-1" role="dialog" aria-labelledby="Retainingwall" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="RetainingwallLabel">KNMT - District Wise Progress - Retaining wall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in Retainingwall_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_rw' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="SWD" tabindex="-1" role="dialog" aria-labelledby="SWD" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SWDLabel">KNMT - District Wise Progress - SWD</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in SWD_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_swd' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="WaterBodies" tabindex="-1" role="dialog" aria-labelledby="WaterBodies" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SWDLabel">KNMT - District Wise Progress - Water Bodies</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of District</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Progress<br>(Value of Work Done/ Project Cost)</a>
                    </div>
                  </th>
                    <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in WaterBodies_district %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.District }} </td>
                <td style="text-align: center"> <input type="range" min="0" max="100" value="{{ row.percent }}" class="slider" id="myRange"> {{ row.percent|floatformat:2 }} %</td>
                 <td>
                    <form method="post" action="{% url 'export_in_wb' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="district" value="{{ row.District }}" class="btn btn-danger">Export</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


 <div class="modal fade" id="busstand1" tabindex="-1" role="dialog" aria-labelledby="busstand1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="busstandLabel">KNMT - Works To Be Commenced - Bus Stand</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                   <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_c %}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


 <div class="modal fade" id="busstand_modal" tabindex="-1" role="dialog" aria-labelledby="busstand_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="busstandmodalLabel">KNMT - Works To Be Commenced - Bus Stand</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_c %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> <div class="modal fade" id="btroad1" tabindex="-1" role="dialog" aria-labelledby="btroad1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btroad1Label">KNMT - Works To Be Commenced - BT Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_btroad %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="ccroad1" tabindex="-1" role="dialog" aria-labelledby="ccroad1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ccroad1Label">KNMT - Works To Be Commenced - CC Road</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                 <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_ccroad %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="communityhall1" tabindex="-1" role="dialog" aria-labelledby="communityhall1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="communityhall11Label">KNMT - Works To Be Commenced - Community Hall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>

              </tr>
              </thead>
              <tbody>
              {% for row in district_ch%}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="crematorium1" tabindex="-1" role="dialog" aria-labelledby="crematorium1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematorium1Label">KNMT - Works To Be Commenced - Crematorium</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_cr%}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="culvert1" tabindex="-1" role="dialog" aria-labelledby="culvert1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematorium1Label">KNMT - Works To Be Commenced - Culvert</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_cul %}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="KnowledgeCentre1" tabindex="-1" role="dialog" aria-labelledby="KnowledgeCentre1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentre1Label">KNMT - Works To Be Commenced - Knowledge Centre</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_kc %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="Market1" tabindex="-1" role="dialog" aria-labelledby="Market1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentre1Label">KNMT - Works To Be Commenced - Market</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_m%}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="MetalBeamCrashBarriers1" tabindex="-1" role="dialog" aria-labelledby="MetalBeamCrashBarriers1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="KnowledgeCentre1Label">KNMT - Works To Be Commenced - Metal Beam Crash Barriers</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_mbcb %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="Parks1" tabindex="-1" role="dialog" aria-labelledby="Parks1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Parks1Label">KNMT - Works To Be Commenced - Parks</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                 <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_p %}
                 <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="PaverBlock1" tabindex="-1" role="dialog" aria-labelledby="PaverBlock1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PaverBlock1Label">KNMT - Works To Be Commenced - Paver Block</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_pb %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="Retainingwall1" tabindex="-1" role="dialog" aria-labelledby="Retainingwall1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Retainingwall1Label">KNMT - Works To Be Commenced - Retaining wall</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_rw  %}
             <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="SWM1" tabindex="-1" role="dialog" aria-labelledby="SWM1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SWM1Label">KNMT - Works To Be Commenced - Solid Waste Mgt.</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_swm  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




<div class="modal fade" id="SWD1" tabindex="-1" role="dialog" aria-labelledby="SWD1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SWM1Label">KNMT - Works To Be Commenced - SWD</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                 <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_swd  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>

              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="WaterBodies1" tabindex="-1" role="dialog" aria-labelledby="WaterBodies1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="WaterBodies1Label">KNMT - Works To Be Commenced - Water Bodies</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">Name of the ULB</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Project ID</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in district_wb  %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.AgencyName__AgencyName }} </td>
                <td style="text-align: center"> {{ row.Project_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>