 <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">1</td>
     <td class="border-grey" style="text-align:center">BT Road</td>
    <td class="border-grey" style="text-align:right">{{ btroad_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ btroad_approved_project_cost.project_cost }}</td>
     <td class="border-grey" style="text-align: right;">&#8377; {{ btroad_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ btroad_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ btroad_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#btroad">{{ btroad_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ btroad_inprogress_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#btroad1">{{ btroad_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ btroad_tobecommenced_project_cost.project_cost }}</td>
</tr>
         <tr class="border-grey {% cycle 'row1' 'row2'%}">
            <td class="border-grey" style="text-align:center">2</td>
             <td class="border-grey" style="text-align:center">Bus Stand</td>
            <td class="border-grey" style="text-align:right">{{ busstand_approved_project_count }}</td>
            <td class="border-grey" style="text-align:right">&#8377; {{ busstand_approved_project_cost.project_cost }}</td>
             <td class="border-grey" style="text-align: right;">&#8377; {{ busstand_awarded_cost.project_cost }}</td>
            <td class="border-grey" style="text-align:right">{{ busstand_completed_count }}</td>
            <td class="border-grey" style="text-align:right">&#8377; {{ busstand_completed_approved_project_cost.project_cost }}</td>
             <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#busstand">{{ busstand_inprogress_count }}</a></td>
             <td class="border-grey" style="text-align:right">&#8377; {{ busstand_inprogress_approved_project_cost.project_cost }}</td>
             <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#busstand_modal"> {{ busstand_tobecommenced_count }}</a></td>
            <td class="border-grey" style="text-align:right">&#8377; {{ busstand_tobecommenced_project_cost.project_cost }}</td>
        </tr>
         <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">3</td>
     <td class="border-grey" style="text-align:center">CC Road</td>
    <td class="border-grey" style="text-align:right">{{ ccroad_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ ccroad_approved_project_cost.project_cost }}</td>
              <td class="border-grey" style="text-align: right;">&#8377; {{ ccroad_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ ccroad_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ ccroad_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#ccroad">{{ ccroad_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ ccroad_inprogress_approved_project_cost.project_cost }}</td>

             <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#ccroad1">{{ ccroad_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ ccroad_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">4</td>
     <td class="border-grey" style="text-align:center">Community Hall</td>
    <td class="border-grey" style="text-align:right">{{ communityhall_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ communityhall_approved_project_cost.project_cost }}</td>
           <td class="border-grey" style="text-align: right;">&#8377; {{ communityhall_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ communityhall_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ communityhall_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#communityhall">{{ communityhall_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ communityhall_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#communityhall1">{{ communityhall_tobecommenced_count }}</a> </td>
    <td class="border-grey" style="text-align:right">&#8377; {{ communityhall_tobecommenced_project_cost.project_cost }}</td>
</tr>
<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">5</td>
     <td class="border-grey" style="text-align:center">Crematorium</td>
    <td class="border-grey" style="text-align:right">{{ crematorium_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ crematorium_approved_project_cost.project_cost }}</td>
     <td class="border-grey" style="text-align: right;">&#8377; {{ crematorium_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ crematorium_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ crematorium_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#crematorium">{{ crematorium_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ crematorium_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#crematorium1">{{ crematorium_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ crematorium_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">6</td>
     <td class="border-grey" style="text-align:center">Culvert</td>
    <td class="border-grey" style="text-align:right">{{ culvert_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ culvert_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ culvert_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ culvert_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ culvert_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#culvert">{{ culvert_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ culvert_inprogress_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#culvert1">{{ culvert_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ culvert_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">7</td>
     <td class="border-grey" style="text-align:center">Knowledge Centre</td>
    <td class="border-grey" style="text-align:right">{{ KnowledgeCentre_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ KnowledgeCentre_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ KnowledgeCentre_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ KnowledgeCentre_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ KnowledgeCentre_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#KnowledgeCentre">{{ KnowledgeCentre_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ KnowledgeCentre_inprogress_approved_project_cost.project_cost }}</td>
           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#KnowledgeCentre1">{{ KnowledgeCentre_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ KnowledgeCentre_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">8</td>
     <td class="border-grey" style="text-align:center">Market</td>
    <td class="border-grey" style="text-align:right">{{ Market_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Market_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ Market_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ Market_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Market_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Market">{{ Market_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ Market_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Market1">{{ Market_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Market_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">9</td>
     <td class="border-grey" style="text-align:center">Metal Beam Crash Barriers</td>
    <td class="border-grey" style="text-align:right">{{ MetalBeamCrashBarriers_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ MetalBeamCrashBarriers_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ MetalBeamCrashBarriers_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ MetalBeamCrashBarriers_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ MetalBeamCrashBarriers_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#MetalBeamCrashBarriers">{{ MetalBeamCrashBarriers_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ MetalBeamCrashBarriers_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#MetalBeamCrashBarriers1">{{ MetalBeamCrashBarriers_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ MetalBeamCrashBarriers_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">10</td>
     <td class="border-grey" style="text-align:center">Parks</td>
    <td class="border-grey" style="text-align:right">{{ Parks_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Parks_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ Parks_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ Parks_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Parks_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Parks">{{ Parks_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ Parks_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Parks1">{{ Parks_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Parks_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">11</td>
     <td class="border-grey" style="text-align:center">PaverBlock</td>
    <td class="border-grey" style="text-align:right">{{ PaverBlock_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ PaverBlock_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ PaverBlock_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ PaverBlock_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ PaverBlock_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#PaverBlock">{{ PaverBlock_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ PaverBlock_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#PaverBlock1">{{ PaverBlock_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ PaverBlock_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">12</td>
     <td class="border-grey" style="text-align:center">Retaining wall</td>
    <td class="border-grey" style="text-align:right">{{ Retainingwall_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Retainingwall_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ Retainingwall_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ Retainingwall_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Retainingwall_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Retainingwall">{{ Retainingwall_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ Retainingwall_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Retainingwall1">{{ Retainingwall_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Retainingwall_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">13</td>
     <td class="border-grey" style="text-align:center">SolidWasteMgt.</td>
    <td class="border-grey" style="text-align:right">{{ SolidWasteMgt_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ SolidWasteMgt_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ SolidWasteMgt_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ SolidWasteMgt_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ SolidWasteMgt_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#SolidWasteMgt">{{ SolidWasteMgt_inprogress_count }} </a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ SolidWasteMgt_inprogress_approved_project_cost.project_cost }}</td>
           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#SWM1">{{ SolidWasteMgt_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ SolidWasteMgt_tobecommenced_project_cost.project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">14</td>
     <td class="border-grey" style="text-align:center">SWD</td>
    <td class="border-grey" style="text-align:right">{{ SWD_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ SWD_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ SWD_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ SWD_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ SWD_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#SWD">{{ SWD_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ SWD_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#SWD1">{{ SWD_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ SWD_tobecommenced_project_cost }}</td>
</tr>
       <tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">15</td>
     <td class="border-grey" style="text-align:center">WaterBodies</td>
    <td class="border-grey" style="text-align:right">{{ WaterBodies_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ WaterBodies_approved_project_cost.project_cost }}</td>
            <td class="border-grey" style="text-align: right;">&#8377; {{ WaterBodies_awarded_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ WaterBodies_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ WaterBodies_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#WaterBodies">{{ WaterBodies_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ WaterBodies_inprogress_approved_project_cost.project_cost }}</td>

           <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#WaterBodies1">{{ WaterBodies_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ WaterBodies_tobecommenced_project_cost.project_cost }}</td>
</tr>