<div class="modal fade" id="crematorium1" tabindex="-1" role="dialog" aria-labelledby="crematorium1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crematorium1Label">Singara Chennai 2.0 - Zone Wise To Be Commenced - Crematorium</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">zone</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">No of Works</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in zone_crematorium %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.zone }} </td>
                <td style="text-align: center"> {{ row.count }}</td>
                    <td style="text-align: center">
                  <form method="post"  enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="zone" value="{{ row.zone }}" class="btn btn-danger">Export</button>
                  </form>
              </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="Lighting_System1" tabindex="-1" role="dialog" aria-labelledby="Lighting_System1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Lighting_System1Label">Singara Chennai 2.0 - Zone Wise To Be Commenced - Lighting System</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">zone</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">No of Works</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in zone_Lighting_System %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.zone }} </td>
                <td style="text-align: center"> {{ row.count }}</td>
                    <td style="text-align: center">
                  <form method="post"  enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="zone" value="{{ row.zone }}" class="btn btn-danger">Export</button>
                  </form>
              </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="Name_Boards_for_Streets1" tabindex="-1" role="dialog" aria-labelledby="Name_Boards_for_Streets1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Name_Boards_for_Streets1Label">Singara Chennai 2.0 - Zone Wise To Be Commenced - Name Boards for Streets</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">zone</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">No of Works</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in zone_Name_Boards_for_Streets %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.zone }} </td>
                <td style="text-align: center"> {{ row.count }}</td>
                    <td style="text-align: center">
                  <form method="post"  enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="zone" value="{{ row.zone }}" class="btn btn-danger">Export</button>
                  </form>
              </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="Parks1" tabindex="-1" role="dialog" aria-labelledby="Parks1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Name_Boards_for_Streets1Label">Singara Chennai 2.0 - Zone Wise To Be Commenced - Parks</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">zone</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">No of Works</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in zone_Parks %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.zone }} </td>
                <td style="text-align: center"> {{ row.count }}</td>
                    <td style="text-align: center">
                  <form method="post"  enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="zone" value="{{ row.zone }}" class="btn btn-danger">Export</button>
                  </form>
              </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="Play_Field1" tabindex="-1" role="dialog" aria-labelledby="Play_Field1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Play_Field1Label">Singara Chennai 2.0 - Zone Wise To Be Commenced - Play Field</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">zone</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">No of Works</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in zone_Play_Field %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.zone }} </td>
                <td style="text-align: center"> {{ row.count }}</td>
                    <td style="text-align: center">
                  <form method="post"  enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="zone" value="{{ row.zone }}" class="btn btn-danger">Export</button>
                  </form>
              </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="Roads1" tabindex="-1" role="dialog" aria-labelledby="Roads1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Play_Field1Label">Singara Chennai 2.0 - Zone Wise To Be Commenced - Roads</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">zone</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">No of Works</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in zone_Roads %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.zone }} </td>
                <td style="text-align: center"> {{ row.count }}</td>
                    <td style="text-align: center">
                  <form method="post"  enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="zone" value="{{ row.zone }}" class="btn btn-danger">Export</button>
                  </form>
              </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="Water_Fountain1" tabindex="-1" role="dialog" aria-labelledby="Water_Fountain1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Water_Fountain1Label">Singara Chennai 2.0 - Zone Wise To Be Commenced - Water_Fountain</h5>
        </div>
        <div class="modal-body">
          <table>
              <thead>
              <tr>
                  <th>
                      <div class="text">
                        <a href="#">S. No</a>
                      </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#">zone</a>
                    </div>
                  </th>
                  <th>
                    <div class="text">
                        <a href="#" style="text-align: center">No of Works</a>
                    </div>
                  </th>
                   <th>
                    <div class="text">
                        <a href="#" style="text-align: center">Export</a>
                    </div>
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for row in zone_Water_Fountain %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ forloop.counter }} </td>
                <td> {{ row.zone }} </td>
                <td style="text-align: center"> {{ row.count }}</td>
                    <td style="text-align: center">
                  <form method="post"  enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" name="zone" value="{{ row.zone }}" class="btn btn-danger">Export</button>
                  </form>
              </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>