<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">1</td>
     <td class="border-grey" style="text-align:left">Crematorium</td>
    <td class="border-grey" style="text-align:right">{{ crematorium_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ crematorium_approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ crematorium_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ crematorium_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#crematorium">{{ crematorium_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ crematorium_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#crematorium1">{{ crematorium_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ crematorium_tobecommenced_project_cost.project_cost }}</td>
</tr>

<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">2</td>
     <td class="border-grey" style="text-align:left">Lighting System</td>
    <td class="border-grey" style="text-align:right">{{ Lighting_System_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Lighting_System_approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ Lighting_System_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Lighting_System_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Lighting_System">{{ Lighting_System_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ Lighting_System_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Lighting_System1">{{ Lighting_System_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Lighting_System_tobecommenced_project_cost.project_cost }}</td>
</tr>
<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">3</td>
     <td class="border-grey" style="text-align:left">Name Boards for Streets</td>
    <td class="border-grey" style="text-align:right">{{ Name_Boards_for_Streets_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Name_Boards_for_Streets_approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ Name_Boards_for_Streets_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Name_Boards_for_Streets_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Name_Boards_for_Streets">{{ Name_Boards_for_Streets_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ Name_Boards_for_Streets_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Name_Boards_for_Streets1">{{ Name_Boards_for_Streets_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Name_Boards_for_Streets_tobecommenced_project_cost.project_cost }}</td>
</tr>
<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">4</td>
     <td class="border-grey" style="text-align:left">Parks</td>
    <td class="border-grey" style="text-align:right">{{ Parks_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Parks_approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ Parks_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Parks_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Parks">{{ Parks_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ Parks_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Parks1">{{ Parks_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Parks_tobecommenced_project_cost.project_cost }}</td>
</tr>
<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">5</td>
     <td class="border-grey" style="text-align:left">Play Field</td>
    <td class="border-grey" style="text-align:right">{{ Play_Field_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Play_Field_approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ Play_Field_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Play_Field_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Play_Field">{{ Play_Field_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ Play_Field_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Play_Field1">{{ Play_Field_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Play_Field_tobecommenced_project_cost.project_cost }}</td>
</tr>
<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">6</td>
     <td class="border-grey" style="text-align:left">Roads</td>
    <td class="border-grey" style="text-align:right">{{ Roads_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Roads_approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ Roads_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Roads_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Roads">{{ Roads_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ Roads_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Roads1">{{ Roads_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Roads_tobecommenced_project_cost.project_cost }}</td>
</tr>
<tr class="border-grey {% cycle 'row1' 'row2'%}">
    <td class="border-grey" style="text-align:center">7</td>
     <td class="border-grey" style="text-align:left">Water Fountain</td>
    <td class="border-grey" style="text-align:right">{{ Water_Fountain_approved_project_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Water_Fountain_approved_project_cost.project_cost }}</td>
    <td class="border-grey" style="text-align:right">{{ Water_Fountain_completed_count }}</td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Water_Fountain_completed_approved_project_cost.project_cost }}</td>

     <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Water_Fountain">{{ Water_Fountain_inprogress_count }}</a></td>
     <td class="border-grey" style="text-align:right">&#8377; {{ Water_Fountain_inprogress_approved_project_cost.project_cost }}</td>

    <td class="border-grey" style="text-align:right; color: #0a53be; font-weight: bold;"><a type="button" data-toggle="modal" data-target="#Water_Fountain1">{{ Water_Fountain_tobecommenced_count }}</a></td>
    <td class="border-grey" style="text-align:right">&#8377; {{ Water_Fountain_tobecommenced_project_cost.project_cost }}</td>
</tr>